/*-------------------------------------------
Global Theme Styles & General Overrides
--------------------------------------------*/

//General Wrapper Styles

body {
    background: #f0f0f0;
    color: #222;
    font-family: $sans-serif;
    font-size: 14px;

    @media (min-width: 768px){
        font-size: 16px;
    }
}

.site-inner {
    max-width: 1400px;
    background: #fff;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
}

.wrapper {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    padding: 0 10px;
}

//Fix for resize splitting Mobile -> Desktop
.site-container {
    @media (min-width: 768px){
        transform: translateX(0) !important;
    }
}


//General Text Styles
.content {

    h1, h2, h3, h4, h5, h6 {
        font-family: $sans-serif-condensed;
        color: $primary-dark;
        font-weight: bold;

        b, strong {
            font-weight: bold;
        }
    }

    a {
        transition: 0.2s;
        color: $primary;

        &:hover {
            color: $secondary;
        }
    }

} //End .content


//Apex Chat Mobile Modifications
@media (max-width: 767px) {

    .livechat {
        display: none !important;
    }

    #apexchat_static_tab_text {
        transform: translateX(46%) translateY(-50%) rotate(-90deg) scale(0.8) !important;
    }

    //Responsitioning Userway on Mobile to Avoid Apex
    .userway_mobile {
        bottom: 70px !important;
    }
}


//Archive Page Modifications
.archive {
    &.tag, &.category, &.tax-news_category {
        .content-sidebar-wrap > h2.entry-title {
            display: none;
        }
    }
}  