/*-------------------------------------------
Setting Up Global SCSS Variables
-------------------------------------------*/


//Typgraphy

$sans-serif:            'Open Sans', Arial, sans-serif;
$sans-serif-condensed:  'Open Sans Condensed', Arial, sans-serif;
$serif:        'Trajan Pro', 'Times New Roman', serif;

//Colors
$primary-alt:   #da6009;
$primary:       #313149;
$primary-dark:  #2a2a40;
$primary-light:   #646484;
$secondary:     #da6009;
