/*-------------------------------------------------
Form Styles
---------------------------------------------------*/


//Standard form

.standard-form {

    position: relative;

    input[type="text"], input[type="email"], input[type="tel"], textarea {
        margin-bottom: 15px;
        padding-left: 2.6rem;
    }

       //Form Icons

    .first-name, .last-name, .email, .phone, .describe {
        position: relative;
        display: block;

        &:before {
            position: absolute;
            left: 12px;
            font-family: fontawesome;
            display: block;
            top: 18px;
            font-size: 1.3rem;
            line-height: 1;
            color: #999;
        }
    }

    .first-name, .last-name {
        &:before {
            content: '\f007';
        }
    }

    .email {
        &:before {
            content: '\f0e0';
        }
    }
    
    .phone {
        &:before {
            content: '\f095';
            top: 19px;
        }
    }
    
    .describe {
        
        clear: both;
        
        &:before {
            content: '\f086';
        }
    }

 

    //Validation Styles

    .wpcf7-not-valid-tip {
        display: none !important;
    }

    .wpcf7-not-valid {
        border: 3px solid #f00;
        background: #ffeded;
    }

    .wpcf7-response-output {
        &.wpcf7-validation-errors {
            background: #f00;
            color: #fff;
            border-radius: 2px;
            border: 2px solid darken(#f00, 15%);
            font-style: italic;
            max-width: 80%;
            margin-left: auto;
            margin-right: auto;
            padding: 10px;
            font-size: 0.9rem;
        }
    }

    .ajax-loader {
        background: #fff;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid $primary-dark !important;
        height: 25px !important;
        width: 25px !important;
        position: absolute;
        right: 3%; 
        bottom: 30px;

    }

}

//Sidebar Form Styles [Similar to Homepage]

.sidebar-contact-form {

    padding: 20px;
    margin-bottom: 30px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    max-width: 430px;
    margin-left: auto;
    margin-right: auto;
    background: #fff;

    p { margin-bottom: 0; }
    br { display: none; }

    &__phone-heading {
        display: block;
        text-align: center;
        font-family: $serif;
        font-size: 2.0rem;
        margin-bottom: 18x;
        text-transform: uppercase;

        @media (max-width: 475px){
            font-size: 1.5rem;
        }

        a {
            color: $primary;
            font-weight: bold;
            text-decoration: none;

            &:hover {
                color: $primary-dark;
                text-decoration: none;
            }
        }
    }

    &__subheading {
        display: block;
        text-align: center;
        font-family: $serif;
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 4px solid #166198;
        text-transform: uppercase;
        font-size: 1.3rem;

        @media (max-width: 330px){
            font-size: 1rem;
        }
    }

    &__cta {
        display: block;
        text-align: center;
        font-family: $serif;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 20px;
        font-size: 1.4rem;

        @media (max-width: 330px){
            font-size: 1.2rem;
        }
    }

    input[type="text"], input[type="email"], input[type="tel"], textarea {
        margin-bottom: 15px;
    }

    textarea {
        margin-bottom: 0;
        height: 150px;
    }

    input[type="submit"]{
        background: $secondary;
        color: #fff;
        font-weight: bold;
        border-radius: 0;
        text-transform: uppercase;
        font-size: 1.4rem;
        display: block;
        margin: 15px auto 0 auto;
    }


 

} //End .sidebar-contact-form

