/*---------------------------------------
Global Footer Styles
---------------------------------------*/

.site-footer {
    width: 100%;
    padding: 20px 0px;
    clear: both;
    color: #fff;
    background: $primary-dark;
    line-height: 1.5;
} //End .site-footer


//Contact Form Section Styles
.footer-contact-form {

    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;

    &__inner {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    &__title {
        display: block;
        font-family: $serif;
        font-size: 1.8rem;
        margin-bottom: 10px;

        @media (min-width: 768px){
            font-size: 2.2rem;
        }

        @media (min-width: 1140px){
            font-size: 2.7rem;
        }
    }

    &__subtitle {
        display: block;
        line-height: 1.5;
        font-family: $sans-serif-condensed;
        margin-bottom: 20px;
        font-size: 1.3rem;
        letter-spacing: 1px;

        @media (min-width: 768px){
            font-size: 2.0rem;
        }

    }

    &__form {

        p { margin-bottom: 0; line-height: 1;}
        br { display: none; }
        
        input[type="text"], input[type="email"], input[type="tel"], textarea {
            display: block;
            margin-bottom: 10px;
        }

        //Makeshift Grid
        .first-name {
            width: calc(50% - 5px);
            float: left;
            display: block;

            @media (max-width: 767px){
                width: 100%;
                float: none;
            }
        }
        .last-name {
            width: calc(50% - 5px);
            float: right;
            display: block;

            @media (max-width: 767px){
                width: 100%;
                float: none;
            }
        }

        .email {
            clear: both;
            width: calc(50% - 5px);
            float: left;
            display: block;
            
            @media (max-width: 767px){
                width: 100%;
                float: none;
            }
        }

        .phone {
            width: calc(50% - 5px);
            float: right;
            display: block;

            @media (max-width: 767px){
                width: 100%;
                float: none;
            }

        }

        textarea {
            clear: both;
        }

        input[type="submit"]{
            display: block;
            color: #fff;
            background: $secondary;
            font-size: 1.6rem;
            transition: 0.2s;
            border-radius: 0;
            margin: 30px auto 0 auto;

            &:hover {
                background: darken($secondary, 10%);
                color: #fff;
            }
        }

        

    } //End __form
 
} //End .footer-contact-form


//Footer Call to Action
.footer-cta {
    background: #166198;
    border-top: 3px solid #fff;
    border-bottom: 3px solid #fff;
    font-family: $serif;
    text-align: center;
    line-height: 2;
    padding-top: 30px;
    font-size: 1.2rem;
    padding-bottom: 30px;

    @media (min-width: 768px){
        font-size: 1.9rem;
    }

    &__inner {

    }

    &__telephone-link {
        color: #fff;
        font-size: 1.8rem;
        text-decoration: none;

        &:hover {
            color: #fff;
            text-decoration: none;
        }

        @media (min-width: 768px){
            font-size: 2.15rem;
        }
    }

} //End .footer-cta


//Footer Widget Areas
.footer-widgets {
    padding: 20px 10px;
    background: transparent;

    &__inner {
        @media (min-width: 768px) {
            display: flex;
        }
    }

    &__office-information {
        width: 100%;
        margin-bottom: 30px;
        text-align: left;

        @media (min-width: 768px){
            width: calc(50% - 30px);
            margin-right: 30px;
            margin-bottom: 0;
        }

        address {
            font-style: normal;
        }

        a {
            color: #fff;
            text-decoration: none;

            &:hover {
                text-decoration: none;       
            }
        }

        iframe {
            margin-top: 20px;
            max-width: 250px;
            height: 150px;
        }
    }

    &__navigate {
        width: 100%;
        margin-bottom: 0;

        @media (min-width: 768px){
            //width: calc(25% - 30px);
            //margin-right: 30px;
            //margin-bottom: 0;
        }
    }

    &__practice-areas {
        width: 100%;
        margin-bottom: 30px;

        @media (min-width: 768px){
            width: 25%;
            margin-right: 30px;
            margin-bottom: 0;
        }
    }

} //End .footer-widgets

//Single Footer Widget Styles
.footer-widget {

    font-size: 1.1rem;

    h3 {
        display: block;
        font-family: $serif;
        font-size: 1.5rem;
        text-align: left;
        letter-spacing: 2px;

        @media (min-width: 768px){
            font-size: 1.85rem;
        }
    }

    ul {
        text-align: left;
        font-size: 1.1rem;
        margin-left: auto;
        margin-right: auto;
        text-align: center;

        li {
            padding-bottom: 3px;
            display: inline;
        }

        a {
            color: #fff;
            font-weight: bold;
            font-family: $sans-serif-condensed;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            padding: 10px;

            &:hover {
                color: #fff;
                text-decoration: underline;
            }
        }
    }

} //End .footer-widget


//Bottom Footer Styles
.footer-bottom {

    //padding-top: 30px;

    &__inner {

    }

    //Navigation Row
    &__navigation {

        margin-bottom: 15px;

        ul {
            li {
                padding-bottom: 3px;
                display: inline;
            }
    
            a {
                color: #fff;
                font-weight: bold;
                font-family: $sans-serif-condensed;
                text-decoration: none;
                text-transform: uppercase;
    
                &:hover {
                    color: #fff;
                    text-decoration: underline;
                }
            }
        }
    }

    //Copyright
    &__copyright {
        font-family: $sans-serif-condensed;
    }

} //End .footer-bottom

