/*----------------------------------------------
Global Header Styles
-----------------------------------------------*/

//Global Overrides
.site-header {
    padding: 0;
    background: #fff;
    box-shadow: 0 2px 3px rgba(0,0,0,0.5);
    z-index: 9999;
    top: 0;

    @media (max-width: 767px){
        display: none;
    }

    .desktop-header {
        display: none;
        @media (min-width: 768px) {
            display: flex;
        }
    }
}



.mobile-header {
    display: block;
    position: relative;
    z-index: 9999;

    @media (min-width: 768px){
        display: none;
    }
}

//Notification Bar
.notification-bar {

    background: $primary;
    color: #fff;
    font-weight: bold;
    font-family: $sans-serif-condensed;
    font-size: 1.9rem;
    padding: 10px;
    transition: 0.2s;

    @media (max-width: 767px){
        font-size: 1.2rem;
    }

    &__inner {
        
        display: flex;
        justify-content: space-between;
        max-width: 1400px;
        margin-left: auto;
        margin-right: auto;

    }


    &__left {
        text-align: left;
    }

    &__right {
        text-align: right;
    }

} //End .notification-bar

//Desktop Styles
.desktop-header {

    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) and (max-width: 1399px){
        flex-wrap: wrap;
        align-items: flex-start;
    }

    &__logo {
        padding: 10px;

        &--default {
            height: 100px;
            width: 200px;
        }

        &--scrolled {
            display: none;
            height: 40px;
            width: 100px;
        }

        @media (min-width: 768px) and (max-width: 1399px){

            padding: 0;
            //margin-top: -15px;

            &--default {
                width: 100px;
            }

            &--scrolled {
                width: 50px;
            }
        }
        
    }

    &__nav {
        padding: 10px;
        text-align: center;

        @media (min-width: 768px) and (max-width: 1399px){
            display: none;
        }
    }

    &__cta {
       
    }

    .tablet-navigation-wrapper {
        
        display: none;

        @media (min-width: 768px) and (max-width: 1399px){
            display: block;
            width: 100%;
        }
    }


} //End .desktop-header

//Scrolled Header Styles

body {
    top: 0;
    position: relative;
    transition: 0.2s 0.1s;

}

.scrolled {  
    .mobile-header {
        position: fixed;

        .notification-bar {
            height: 3px;
            padding: 0;
            overflow: hidden;

            &__inner {
                opacity: 0;
                display: none;
            }
        }

    }

    .site-header, .mobile-header {

        //position: fixed;
        left: 0;
        right: 0;

        @media (min-width: 768px){
            position: sticky;
        }

        .desktop-header__logo--scrolled {
            display: block;
        }

        .desktop-header__logo--default {
            display: none;
        }

        .mobile-header__logo {
            height: 0;
        }

        .header-cta__heading, .header-cta__subheading { display: none; }

        .header-cta__phone {
            font-size: 1.7rem;
        }

        .notification-bar {
            font-size: 1.2rem;
        }

    } //End .scrolled
}

//CTA Styles
.header-cta {
    max-width: 340px;

    &__heading { 
        font-size: 2.0rem;
        font-weight: bold;
        display: block;
        width: 380px;
        position: relative;
        left: -40px;
        line-height: 1;
        color: #111;
        font-family: $sans-serif-condensed;
        margin-bottom: 5px;
        text-align: right;

        @media (min-width: 768px) and (max-width: 1399px){
            font-size: 1.5rem;
        }
    }

    &__subheading {
        font-size: 1.4rem;
        font-weight: bold;
        display: block;
        line-height: 1.2;
        color: #111;
        font-family: $sans-serif-condensed;
        margin-bottom: 10px;
        text-align: right;

        @media (min-width: 768px) and (max-width: 1399px){
            font-size: 1.0rem;
        }
    }

    &__phone {
        display: block;
        margin-right: 0;
        margin-left: auto;
        max-width: 200px;
        border-radius: 4px;
        width: auto;
        padding: 5px 10px;
        background: $secondary;
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: bold;
        font-family: $sans-serif-condensed;
        transition: 0.2s;
        color: #fff;
        text-align: center;

        @media (min-width: 768px) and (max-width: 1399px){
            font-size: 1.5rem;
            padding: 2px 10px;
            margin-bottom: 10px;
        }

        &:hover {
            color: #fff;
            background: lighten($secondary, 10%);
            text-align: center;
        }
    }

} 

//Downarrow

.desktop-downarrow {
    position: relative;
}

.desktop-downarrow:after {
    content: '\f107';
    font-family: fontawesome;
    float: right;
    position: absolute;
    top: 1px;
    right: -1em;
    font-size: 14px;
    transition: 0.2s;
}

//Desktop Navigation Styles
.desktop-nav {

    li {
        display: inline; 

        a {
            color: #111;
            text-decoration: none;
            font-family: $sans-serif-condensed;
            font-size: 1.1rem;
            text-transform: uppercase;
            font-weight: bold;
            display: inline-block;
            padding-left: 10px;
            padding-right: 10px;
        }
    }

    .sub-menu {
        display: none;
    }

    //Sub Navigation Styles
    .menu-item-has-children {

        position: relative;

        > a {
            padding-right: 1.2rem;
        }

        &:hover {
            .desktop-downarrow:after {
                transform: rotate(180deg);
            }
        }

        ul.sub-menu{
            margin: 0;
            margin-top: 10px;
            display: block !important;
            position: absolute;
            //overflow: hidden;
            top: 105%;;
            left: 50%;
            height: auto;
            width: auto;
            min-width: 260px;
            transition: transform .3s ease .2s;
            transform-origin: top;
            transform: translateX(-50%) scale(1,0);
            z-index: 200;
            max-height: 75vh;
            box-shadow: 0 0 2em rgba(0,0,0,0.15);
            padding: 0;
            border-radius: 3px;
            padding-top: 2px;
            padding-bottom: 2px;
            background: $primary-dark;

            @media (min-width: 768px) and (max-width: 1399px){
                //Fix for offscreen menu positioning
                left: 100%;
            }

            li{
                width: 100%;
                display: block;
                position: relative;

                a{
                    text-align: left;
                    color: #fff;
                    display: block;
                    background: $primary-light;
                    transition: 0.2s;
                    text-transform: uppercase;
                    font-size: 1rem;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    border-bottom: 1px solid lighten($primary-light, 5%);

                    .desktop-downarrow { display: none; }

                    &:hover {
                        color: #fff;
                        background: $secondary;
                    }
                }

                &:nth-of-type(1){
                    border-radius: 3px 3px 0 0;
                }

                &:nth-last-of-type(1){
                    border-radius: 0 0 3px 3px;
                    a {
                        border-bottom: none;
                    }
                }
            }

            .menu-item-has-children {
                a {
                    .desktop-downarrow { display: block; }
                }
            }

            //Triangle 
            &:before {
                content: '';
                display: block;
                position: absolute;
                top: -6px;
                left: 50%;
                transform: translateX(-50%);
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;                
                border-bottom: 8px solid $primary-dark;

            }

            //3rd Level Styles
            .sub-menu {
                left: 375px;
                top: 0;
                transition: 0.0s;
                padding-left: 2px;
                padding-right: 2px;

                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 15px;
                    left: -7px;
                    //transform: translateX(-50%);
                    
                    border-right: 5px solid #FFF;                
                    border-bottom: 5px solid transparent;
                    border-top: 5px solid transparent;
    
                }
            }
        }

        a {
            //padding-right: 1.8em;
        }

        &:hover {
          
            a {
                           
            }

            ul.sub-menu, ul.children {


                li {

                    width: 100%;
                    display: block;

                    a {

                        &:hover,
                        &:focus {
                        
                        }
                        &:link {}
                    }

                    &:first-child {}

                    &:last-child {}

                }
            }

            /* Show/Hide Submenu */
            &:hover > ul {
                transition: transform .3s ease 0s;
                -webkit-transform: translateX(-50%) scale(1,1);
                -ms-transform: translateX(-50%) scale(1,1);
                transform: translateX(-50%) scale(1,1);
            }
        } //End Hover
    }

} //End .desktop-nav


/*----------------------------------
Mobile Header Styles
----------------------------------*/

.mobile-header {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 9999;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);

    &__logo {
        display: block;
        text-align: center;
        margin-bottom: 14px;
        padding-top: 5px;

        height: 110px;
        transition: 0.2s;
        overflow: hidden;

        img {
            height: 100px;
        }
    }

    &__phone {
        a {
            text-align: center;
            color: #fff;
            display: block;
            width: 200px;
            margin-left: auto;
            margin-right: auto;
            font-weight: bold;
            font-family: $sans-serif-condensed;
            background: $secondary;
            transition: 0.2s;
            text-decoration: none;
            padding: 5px;
            font-size: 1.2rem;
    
            &:hover, &:focus {
                color: #fff;
                text-decoration: none;
                background: lighten($secondary, 10%);
            }
        }
    }

    &__navigation-toggle {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        background: $primary-light;
        color: #fff;
        font-family: $sans-serif-condensed;
        text-transform: uppercase;
        margin-top: 15px;
        font-weight: bold;
        font-size: 1.1rem;
        letter-spacing: 1px;
        cursor: pointer;
        transition: 0.2s;

        &:hover, &:focus {
            background: $primary-dark;
        }
    }

} //End .mobile-header

//For Shadow Effect
.site-container {
    @media (max-width: 767px){
        box-shadow: 0 2px 4px rgba(0,0,0,0.4);
    }
}


//Mobile Slideout Pane Styles
.mobile-navigation-pane {
    
    display: none;
    background: #fff;
    padding-bottom: 100px; // For Apex & Other Chat Overlays

    @media (min-width: 768px){
        display: none !important;
    }

    &__inner {

    }

    &__header {
        background: $primary-dark;
        padding: 10px;
        color: #fff;
        text-align: left;
        font-family: $sans-serif-condensed;
        font-size: 1.9rem;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
    }

    &__navigation {
        padding: 10px;

        .mobile-nav {

            li {
                padding: 5px;
            }

            a {
                text-decoration: none;
                color: $primary-dark;
                transition: 0.2s;
                font-weight: bold;

                &:hover {
                    color: $primary-light;
                }
            }
            
            .sub-menu {
                margin-left: 20px;

                li {
                    padding: 2px;
                }

                a {
                    font-weight: normal;
                }
            }

        }
    }

    .navigation-pane-close {
        cursor: pointer;
        position: relative;
        top: 10px;
    }

} //End .mobile-navigation-pane