/*---------------------------------------
Sidebar Widget Styles
----------------------------------------*/

.sidebar {


    .widget-title {
        font-family: $sans-serif-condensed;
        font-weight: bold;
        color: $primary-dark;
        font-size: 1.5rem;
        text-align: center;
        display: block;
    }


} //End .sidebar



//List Widget Styles
.list-widget {

    //box-shadow: 0 3px 5px rgba(0,0,0,0.2);
    border-radius: 4px;
    overflow: hidden;

    .widget-title {
        color: #fff;
        background: $primary-dark;
        display: block;
        padding: 15px;
        margin-bottom: 0;
    }

    ul {
        
        li {
 
            margin-bottom: 0;
            border-bottom: 1px solid #bfbfbf;

            &:nth-last-of-type(1){
                border-bottom: none;
            }
            
            a {
                display: block;
                text-transform: uppercase;
                text-decoration: none;
                background: #e0e0e0;
                transition: 0.2s;
                font-weight: bold;
                padding: 10px;
                color: $primary-dark;

                &:hover {
                    background: $secondary;
                    color: #fff;
                }
            }

            &:nth-of-type(even){
                a {
                    background: #f0f0f0;

                    &:hover {
                        background: $secondary;
                        color: #fff;
                    }
                }
            }

        } //End li

    } //End ul

} //End .list-widget

//Location Practice Areas Widget
.location-widget-title {

    color: #fff;
    background: $primary-dark;
    display: block;
    padding: 15px;
    margin-bottom: 0;
    text-align: center;

    &__line-1 {
        margin-bottom: 0;
        font-family: $sans-serif-condensed;
        font-weight: bold;
        line-height: 1;
        padding-bottom: 10px;
    }

    &__line-2 {
        padding-top: 0;
        font-family: $sans-serif-condensed;
        font-weight: bold;
        margin-bottom: 0;
        line-height: 1;
    }

} //End .location-widget-title

.location-widget-inner {
    .secondary-location-link {
        display: none;
    }
}

//FAQ Widget Styles
.sidebar {

    .faq-page-listing {

        border: 1px solid #dadada !important;
        //box-shadow: 0 3px 5px rgba(0,0,0,0.2);

        img {
            width: 100%;
            height: auto;
        }

    } //End .faq-page-listing

} //End .sidebar

