/*
Bringing in all the styles
*/
/*! Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License) */
/* FONT PATH -------------------------- */
@font-face { font-family: 'FontAwesome'; src: url("../fonts/fontawesome-webfont.eot?v=4.7.0"); src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg"); font-weight: normal; font-style: normal; font-display: swap; }

.fa { display: inline-block; font: normal normal normal 14px/1 FontAwesome; font-size: inherit; text-rendering: auto; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

/* makes the font 33% larger relative to the icon container */
.fa-lg { font-size: 1.33333333em; line-height: 0.75em; vertical-align: -15%; }

.fa-2x { font-size: 2em; }

.fa-3x { font-size: 3em; }

.fa-4x { font-size: 4em; }

.fa-5x { font-size: 5em; }

.fa-fw { width: 1.28571429em; text-align: center; }

.fa-ul { padding-left: 0; margin-left: 2.14285714em; list-style-type: none; }

.fa-ul > li { position: relative; }

.fa-li { position: absolute; left: -2.14285714em; width: 2.14285714em; top: 0.14285714em; text-align: center; }

.fa-li.fa-lg { left: -1.85714286em; }

.fa-border { padding: .2em .25em .15em; border: solid 0.08em #eeeeee; border-radius: .1em; }

.fa-pull-left { float: left; }

.fa-pull-right { float: right; }

.fa.fa-pull-left { margin-right: .3em; }

.fa.fa-pull-right { margin-left: .3em; }

/* Deprecated as of 4.4.0 */
.pull-right { float: right; }

.pull-left { float: left; }

.fa.pull-left { margin-right: .3em; }

.fa.pull-right { margin-left: .3em; }

.fa-spin { -webkit-animation: fa-spin 2s infinite linear; animation: fa-spin 2s infinite linear; }

.fa-pulse { -webkit-animation: fa-spin 1s infinite steps(8); animation: fa-spin 1s infinite steps(8); }

@-webkit-keyframes fa-spin { 0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

@keyframes fa-spin { 0% { -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg);
    transform: rotate(359deg); } }

.fa-rotate-90 { -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)"; -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }

.fa-rotate-180 { -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)"; -webkit-transform: rotate(180deg); -ms-transform: rotate(180deg); transform: rotate(180deg); }

.fa-rotate-270 { -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)"; -webkit-transform: rotate(270deg); -ms-transform: rotate(270deg); transform: rotate(270deg); }

.fa-flip-horizontal { -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)"; -webkit-transform: scale(-1, 1); -ms-transform: scale(-1, 1); transform: scale(-1, 1); }

.fa-flip-vertical { -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)"; -webkit-transform: scale(1, -1); -ms-transform: scale(1, -1); transform: scale(1, -1); }

:root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal, :root .fa-flip-vertical { filter: none; }

.fa-stack { position: relative; display: inline-block; width: 2em; height: 2em; line-height: 2em; vertical-align: middle; }

.fa-stack-1x, .fa-stack-2x { position: absolute; left: 0; width: 100%; text-align: center; }

.fa-stack-1x { line-height: inherit; }

.fa-stack-2x { font-size: 2em; }

.fa-inverse { color: #ffffff; }

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen readers do not read off random characters that represent icons */
.fa-glass:before { content: "\f000"; }

.fa-music:before { content: "\f001"; }

.fa-search:before { content: "\f002"; }

.fa-envelope-o:before { content: "\f003"; }

.fa-heart:before { content: "\f004"; }

.fa-star:before { content: "\f005"; }

.fa-star-o:before { content: "\f006"; }

.fa-user:before { content: "\f007"; }

.fa-film:before { content: "\f008"; }

.fa-th-large:before { content: "\f009"; }

.fa-th:before { content: "\f00a"; }

.fa-th-list:before { content: "\f00b"; }

.fa-check:before { content: "\f00c"; }

.fa-remove:before, .fa-close:before, .fa-times:before { content: "\f00d"; }

.fa-search-plus:before { content: "\f00e"; }

.fa-search-minus:before { content: "\f010"; }

.fa-power-off:before { content: "\f011"; }

.fa-signal:before { content: "\f012"; }

.fa-gear:before, .fa-cog:before { content: "\f013"; }

.fa-trash-o:before { content: "\f014"; }

.fa-home:before { content: "\f015"; }

.fa-file-o:before { content: "\f016"; }

.fa-clock-o:before { content: "\f017"; }

.fa-road:before { content: "\f018"; }

.fa-download:before { content: "\f019"; }

.fa-arrow-circle-o-down:before { content: "\f01a"; }

.fa-arrow-circle-o-up:before { content: "\f01b"; }

.fa-inbox:before { content: "\f01c"; }

.fa-play-circle-o:before { content: "\f01d"; }

.fa-rotate-right:before, .fa-repeat:before { content: "\f01e"; }

.fa-refresh:before { content: "\f021"; }

.fa-list-alt:before { content: "\f022"; }

.fa-lock:before { content: "\f023"; }

.fa-flag:before { content: "\f024"; }

.fa-headphones:before { content: "\f025"; }

.fa-volume-off:before { content: "\f026"; }

.fa-volume-down:before { content: "\f027"; }

.fa-volume-up:before { content: "\f028"; }

.fa-qrcode:before { content: "\f029"; }

.fa-barcode:before { content: "\f02a"; }

.fa-tag:before { content: "\f02b"; }

.fa-tags:before { content: "\f02c"; }

.fa-book:before { content: "\f02d"; }

.fa-bookmark:before { content: "\f02e"; }

.fa-print:before { content: "\f02f"; }

.fa-camera:before { content: "\f030"; }

.fa-font:before { content: "\f031"; }

.fa-bold:before { content: "\f032"; }

.fa-italic:before { content: "\f033"; }

.fa-text-height:before { content: "\f034"; }

.fa-text-width:before { content: "\f035"; }

.fa-align-left:before { content: "\f036"; }

.fa-align-center:before { content: "\f037"; }

.fa-align-right:before { content: "\f038"; }

.fa-align-justify:before { content: "\f039"; }

.fa-list:before { content: "\f03a"; }

.fa-dedent:before, .fa-outdent:before { content: "\f03b"; }

.fa-indent:before { content: "\f03c"; }

.fa-video-camera:before { content: "\f03d"; }

.fa-photo:before, .fa-image:before, .fa-picture-o:before { content: "\f03e"; }

.fa-pencil:before { content: "\f040"; }

.fa-map-marker:before { content: "\f041"; }

.fa-adjust:before { content: "\f042"; }

.fa-tint:before { content: "\f043"; }

.fa-edit:before, .fa-pencil-square-o:before { content: "\f044"; }

.fa-share-square-o:before { content: "\f045"; }

.fa-check-square-o:before { content: "\f046"; }

.fa-arrows:before { content: "\f047"; }

.fa-step-backward:before { content: "\f048"; }

.fa-fast-backward:before { content: "\f049"; }

.fa-backward:before { content: "\f04a"; }

.fa-play:before { content: "\f04b"; }

.fa-pause:before { content: "\f04c"; }

.fa-stop:before { content: "\f04d"; }

.fa-forward:before { content: "\f04e"; }

.fa-fast-forward:before { content: "\f050"; }

.fa-step-forward:before { content: "\f051"; }

.fa-eject:before { content: "\f052"; }

.fa-chevron-left:before { content: "\f053"; }

.fa-chevron-right:before { content: "\f054"; }

.fa-plus-circle:before { content: "\f055"; }

.fa-minus-circle:before { content: "\f056"; }

.fa-times-circle:before { content: "\f057"; }

.fa-check-circle:before { content: "\f058"; }

.fa-question-circle:before { content: "\f059"; }

.fa-info-circle:before { content: "\f05a"; }

.fa-crosshairs:before { content: "\f05b"; }

.fa-times-circle-o:before { content: "\f05c"; }

.fa-check-circle-o:before { content: "\f05d"; }

.fa-ban:before { content: "\f05e"; }

.fa-arrow-left:before { content: "\f060"; }

.fa-arrow-right:before { content: "\f061"; }

.fa-arrow-up:before { content: "\f062"; }

.fa-arrow-down:before { content: "\f063"; }

.fa-mail-forward:before, .fa-share:before { content: "\f064"; }

.fa-expand:before { content: "\f065"; }

.fa-compress:before { content: "\f066"; }

.fa-plus:before { content: "\f067"; }

.fa-minus:before { content: "\f068"; }

.fa-asterisk:before { content: "\f069"; }

.fa-exclamation-circle:before { content: "\f06a"; }

.fa-gift:before { content: "\f06b"; }

.fa-leaf:before { content: "\f06c"; }

.fa-fire:before { content: "\f06d"; }

.fa-eye:before { content: "\f06e"; }

.fa-eye-slash:before { content: "\f070"; }

.fa-warning:before, .fa-exclamation-triangle:before { content: "\f071"; }

.fa-plane:before { content: "\f072"; }

.fa-calendar:before { content: "\f073"; }

.fa-random:before { content: "\f074"; }

.fa-comment:before { content: "\f075"; }

.fa-magnet:before { content: "\f076"; }

.fa-chevron-up:before { content: "\f077"; }

.fa-chevron-down:before { content: "\f078"; }

.fa-retweet:before { content: "\f079"; }

.fa-shopping-cart:before { content: "\f07a"; }

.fa-folder:before { content: "\f07b"; }

.fa-folder-open:before { content: "\f07c"; }

.fa-arrows-v:before { content: "\f07d"; }

.fa-arrows-h:before { content: "\f07e"; }

.fa-bar-chart-o:before, .fa-bar-chart:before { content: "\f080"; }

.fa-twitter-square:before { content: "\f081"; }

.fa-facebook-square:before { content: "\f082"; }

.fa-camera-retro:before { content: "\f083"; }

.fa-key:before { content: "\f084"; }

.fa-gears:before, .fa-cogs:before { content: "\f085"; }

.fa-comments:before { content: "\f086"; }

.fa-thumbs-o-up:before { content: "\f087"; }

.fa-thumbs-o-down:before { content: "\f088"; }

.fa-star-half:before { content: "\f089"; }

.fa-heart-o:before { content: "\f08a"; }

.fa-sign-out:before { content: "\f08b"; }

.fa-linkedin-square:before { content: "\f08c"; }

.fa-thumb-tack:before { content: "\f08d"; }

.fa-external-link:before { content: "\f08e"; }

.fa-sign-in:before { content: "\f090"; }

.fa-trophy:before { content: "\f091"; }

.fa-github-square:before { content: "\f092"; }

.fa-upload:before { content: "\f093"; }

.fa-lemon-o:before { content: "\f094"; }

.fa-phone:before { content: "\f095"; }

.fa-square-o:before { content: "\f096"; }

.fa-bookmark-o:before { content: "\f097"; }

.fa-phone-square:before { content: "\f098"; }

.fa-twitter:before { content: "\f099"; }

.fa-facebook-f:before, .fa-facebook:before { content: "\f09a"; }

.fa-github:before { content: "\f09b"; }

.fa-unlock:before { content: "\f09c"; }

.fa-credit-card:before { content: "\f09d"; }

.fa-feed:before, .fa-rss:before { content: "\f09e"; }

.fa-hdd-o:before { content: "\f0a0"; }

.fa-bullhorn:before { content: "\f0a1"; }

.fa-bell:before { content: "\f0f3"; }

.fa-certificate:before { content: "\f0a3"; }

.fa-hand-o-right:before { content: "\f0a4"; }

.fa-hand-o-left:before { content: "\f0a5"; }

.fa-hand-o-up:before { content: "\f0a6"; }

.fa-hand-o-down:before { content: "\f0a7"; }

.fa-arrow-circle-left:before { content: "\f0a8"; }

.fa-arrow-circle-right:before { content: "\f0a9"; }

.fa-arrow-circle-up:before { content: "\f0aa"; }

.fa-arrow-circle-down:before { content: "\f0ab"; }

.fa-globe:before { content: "\f0ac"; }

.fa-wrench:before { content: "\f0ad"; }

.fa-tasks:before { content: "\f0ae"; }

.fa-filter:before { content: "\f0b0"; }

.fa-briefcase:before { content: "\f0b1"; }

.fa-arrows-alt:before { content: "\f0b2"; }

.fa-group:before, .fa-users:before { content: "\f0c0"; }

.fa-chain:before, .fa-link:before { content: "\f0c1"; }

.fa-cloud:before { content: "\f0c2"; }

.fa-flask:before { content: "\f0c3"; }

.fa-cut:before, .fa-scissors:before { content: "\f0c4"; }

.fa-copy:before, .fa-files-o:before { content: "\f0c5"; }

.fa-paperclip:before { content: "\f0c6"; }

.fa-save:before, .fa-floppy-o:before { content: "\f0c7"; }

.fa-square:before { content: "\f0c8"; }

.fa-navicon:before, .fa-reorder:before, .fa-bars:before { content: "\f0c9"; }

.fa-list-ul:before { content: "\f0ca"; }

.fa-list-ol:before { content: "\f0cb"; }

.fa-strikethrough:before { content: "\f0cc"; }

.fa-underline:before { content: "\f0cd"; }

.fa-table:before { content: "\f0ce"; }

.fa-magic:before { content: "\f0d0"; }

.fa-truck:before { content: "\f0d1"; }

.fa-pinterest:before { content: "\f0d2"; }

.fa-pinterest-square:before { content: "\f0d3"; }

.fa-google-plus-square:before { content: "\f0d4"; }

.fa-google-plus:before { content: "\f0d5"; }

.fa-money:before { content: "\f0d6"; }

.fa-caret-down:before { content: "\f0d7"; }

.fa-caret-up:before { content: "\f0d8"; }

.fa-caret-left:before { content: "\f0d9"; }

.fa-caret-right:before { content: "\f0da"; }

.fa-columns:before { content: "\f0db"; }

.fa-unsorted:before, .fa-sort:before { content: "\f0dc"; }

.fa-sort-down:before, .fa-sort-desc:before { content: "\f0dd"; }

.fa-sort-up:before, .fa-sort-asc:before { content: "\f0de"; }

.fa-envelope:before { content: "\f0e0"; }

.fa-linkedin:before { content: "\f0e1"; }

.fa-rotate-left:before, .fa-undo:before { content: "\f0e2"; }

.fa-legal:before, .fa-gavel:before { content: "\f0e3"; }

.fa-dashboard:before, .fa-tachometer:before { content: "\f0e4"; }

.fa-comment-o:before { content: "\f0e5"; }

.fa-comments-o:before { content: "\f0e6"; }

.fa-flash:before, .fa-bolt:before { content: "\f0e7"; }

.fa-sitemap:before { content: "\f0e8"; }

.fa-umbrella:before { content: "\f0e9"; }

.fa-paste:before, .fa-clipboard:before { content: "\f0ea"; }

.fa-lightbulb-o:before { content: "\f0eb"; }

.fa-exchange:before { content: "\f0ec"; }

.fa-cloud-download:before { content: "\f0ed"; }

.fa-cloud-upload:before { content: "\f0ee"; }

.fa-user-md:before { content: "\f0f0"; }

.fa-stethoscope:before { content: "\f0f1"; }

.fa-suitcase:before { content: "\f0f2"; }

.fa-bell-o:before { content: "\f0a2"; }

.fa-coffee:before { content: "\f0f4"; }

.fa-cutlery:before { content: "\f0f5"; }

.fa-file-text-o:before { content: "\f0f6"; }

.fa-building-o:before { content: "\f0f7"; }

.fa-hospital-o:before { content: "\f0f8"; }

.fa-ambulance:before { content: "\f0f9"; }

.fa-medkit:before { content: "\f0fa"; }

.fa-fighter-jet:before { content: "\f0fb"; }

.fa-beer:before { content: "\f0fc"; }

.fa-h-square:before { content: "\f0fd"; }

.fa-plus-square:before { content: "\f0fe"; }

.fa-angle-double-left:before { content: "\f100"; }

.fa-angle-double-right:before { content: "\f101"; }

.fa-angle-double-up:before { content: "\f102"; }

.fa-angle-double-down:before { content: "\f103"; }

.fa-angle-left:before { content: "\f104"; }

.fa-angle-right:before { content: "\f105"; }

.fa-angle-up:before { content: "\f106"; }

.fa-angle-down:before { content: "\f107"; }

.fa-desktop:before { content: "\f108"; }

.fa-laptop:before { content: "\f109"; }

.fa-tablet:before { content: "\f10a"; }

.fa-mobile-phone:before, .fa-mobile:before { content: "\f10b"; }

.fa-circle-o:before { content: "\f10c"; }

.fa-quote-left:before { content: "\f10d"; }

.fa-quote-right:before { content: "\f10e"; }

.fa-spinner:before { content: "\f110"; }

.fa-circle:before { content: "\f111"; }

.fa-mail-reply:before, .fa-reply:before { content: "\f112"; }

.fa-github-alt:before { content: "\f113"; }

.fa-folder-o:before { content: "\f114"; }

.fa-folder-open-o:before { content: "\f115"; }

.fa-smile-o:before { content: "\f118"; }

.fa-frown-o:before { content: "\f119"; }

.fa-meh-o:before { content: "\f11a"; }

.fa-gamepad:before { content: "\f11b"; }

.fa-keyboard-o:before { content: "\f11c"; }

.fa-flag-o:before { content: "\f11d"; }

.fa-flag-checkered:before { content: "\f11e"; }

.fa-terminal:before { content: "\f120"; }

.fa-code:before { content: "\f121"; }

.fa-mail-reply-all:before, .fa-reply-all:before { content: "\f122"; }

.fa-star-half-empty:before, .fa-star-half-full:before, .fa-star-half-o:before { content: "\f123"; }

.fa-location-arrow:before { content: "\f124"; }

.fa-crop:before { content: "\f125"; }

.fa-code-fork:before { content: "\f126"; }

.fa-unlink:before, .fa-chain-broken:before { content: "\f127"; }

.fa-question:before { content: "\f128"; }

.fa-info:before { content: "\f129"; }

.fa-exclamation:before { content: "\f12a"; }

.fa-superscript:before { content: "\f12b"; }

.fa-subscript:before { content: "\f12c"; }

.fa-eraser:before { content: "\f12d"; }

.fa-puzzle-piece:before { content: "\f12e"; }

.fa-microphone:before { content: "\f130"; }

.fa-microphone-slash:before { content: "\f131"; }

.fa-shield:before { content: "\f132"; }

.fa-calendar-o:before { content: "\f133"; }

.fa-fire-extinguisher:before { content: "\f134"; }

.fa-rocket:before { content: "\f135"; }

.fa-maxcdn:before { content: "\f136"; }

.fa-chevron-circle-left:before { content: "\f137"; }

.fa-chevron-circle-right:before { content: "\f138"; }

.fa-chevron-circle-up:before { content: "\f139"; }

.fa-chevron-circle-down:before { content: "\f13a"; }

.fa-html5:before { content: "\f13b"; }

.fa-css3:before { content: "\f13c"; }

.fa-anchor:before { content: "\f13d"; }

.fa-unlock-alt:before { content: "\f13e"; }

.fa-bullseye:before { content: "\f140"; }

.fa-ellipsis-h:before { content: "\f141"; }

.fa-ellipsis-v:before { content: "\f142"; }

.fa-rss-square:before { content: "\f143"; }

.fa-play-circle:before { content: "\f144"; }

.fa-ticket:before { content: "\f145"; }

.fa-minus-square:before { content: "\f146"; }

.fa-minus-square-o:before { content: "\f147"; }

.fa-level-up:before { content: "\f148"; }

.fa-level-down:before { content: "\f149"; }

.fa-check-square:before { content: "\f14a"; }

.fa-pencil-square:before { content: "\f14b"; }

.fa-external-link-square:before { content: "\f14c"; }

.fa-share-square:before { content: "\f14d"; }

.fa-compass:before { content: "\f14e"; }

.fa-toggle-down:before, .fa-caret-square-o-down:before { content: "\f150"; }

.fa-toggle-up:before, .fa-caret-square-o-up:before { content: "\f151"; }

.fa-toggle-right:before, .fa-caret-square-o-right:before { content: "\f152"; }

.fa-euro:before, .fa-eur:before { content: "\f153"; }

.fa-gbp:before { content: "\f154"; }

.fa-dollar:before, .fa-usd:before { content: "\f155"; }

.fa-rupee:before, .fa-inr:before { content: "\f156"; }

.fa-cny:before, .fa-rmb:before, .fa-yen:before, .fa-jpy:before { content: "\f157"; }

.fa-ruble:before, .fa-rouble:before, .fa-rub:before { content: "\f158"; }

.fa-won:before, .fa-krw:before { content: "\f159"; }

.fa-bitcoin:before, .fa-btc:before { content: "\f15a"; }

.fa-file:before { content: "\f15b"; }

.fa-file-text:before { content: "\f15c"; }

.fa-sort-alpha-asc:before { content: "\f15d"; }

.fa-sort-alpha-desc:before { content: "\f15e"; }

.fa-sort-amount-asc:before { content: "\f160"; }

.fa-sort-amount-desc:before { content: "\f161"; }

.fa-sort-numeric-asc:before { content: "\f162"; }

.fa-sort-numeric-desc:before { content: "\f163"; }

.fa-thumbs-up:before { content: "\f164"; }

.fa-thumbs-down:before { content: "\f165"; }

.fa-youtube-square:before { content: "\f166"; }

.fa-youtube:before { content: "\f167"; }

.fa-xing:before { content: "\f168"; }

.fa-xing-square:before { content: "\f169"; }

.fa-youtube-play:before { content: "\f16a"; }

.fa-dropbox:before { content: "\f16b"; }

.fa-stack-overflow:before { content: "\f16c"; }

.fa-instagram:before { content: "\f16d"; }

.fa-flickr:before { content: "\f16e"; }

.fa-adn:before { content: "\f170"; }

.fa-bitbucket:before { content: "\f171"; }

.fa-bitbucket-square:before { content: "\f172"; }

.fa-tumblr:before { content: "\f173"; }

.fa-tumblr-square:before { content: "\f174"; }

.fa-long-arrow-down:before { content: "\f175"; }

.fa-long-arrow-up:before { content: "\f176"; }

.fa-long-arrow-left:before { content: "\f177"; }

.fa-long-arrow-right:before { content: "\f178"; }

.fa-apple:before { content: "\f179"; }

.fa-windows:before { content: "\f17a"; }

.fa-android:before { content: "\f17b"; }

.fa-linux:before { content: "\f17c"; }

.fa-dribbble:before { content: "\f17d"; }

.fa-skype:before { content: "\f17e"; }

.fa-foursquare:before { content: "\f180"; }

.fa-trello:before { content: "\f181"; }

.fa-female:before { content: "\f182"; }

.fa-male:before { content: "\f183"; }

.fa-gittip:before, .fa-gratipay:before { content: "\f184"; }

.fa-sun-o:before { content: "\f185"; }

.fa-moon-o:before { content: "\f186"; }

.fa-archive:before { content: "\f187"; }

.fa-bug:before { content: "\f188"; }

.fa-vk:before { content: "\f189"; }

.fa-weibo:before { content: "\f18a"; }

.fa-renren:before { content: "\f18b"; }

.fa-pagelines:before { content: "\f18c"; }

.fa-stack-exchange:before { content: "\f18d"; }

.fa-arrow-circle-o-right:before { content: "\f18e"; }

.fa-arrow-circle-o-left:before { content: "\f190"; }

.fa-toggle-left:before, .fa-caret-square-o-left:before { content: "\f191"; }

.fa-dot-circle-o:before { content: "\f192"; }

.fa-wheelchair:before { content: "\f193"; }

.fa-vimeo-square:before { content: "\f194"; }

.fa-turkish-lira:before, .fa-try:before { content: "\f195"; }

.fa-plus-square-o:before { content: "\f196"; }

.fa-space-shuttle:before { content: "\f197"; }

.fa-slack:before { content: "\f198"; }

.fa-envelope-square:before { content: "\f199"; }

.fa-wordpress:before { content: "\f19a"; }

.fa-openid:before { content: "\f19b"; }

.fa-institution:before, .fa-bank:before, .fa-university:before { content: "\f19c"; }

.fa-mortar-board:before, .fa-graduation-cap:before { content: "\f19d"; }

.fa-yahoo:before { content: "\f19e"; }

.fa-google:before { content: "\f1a0"; }

.fa-reddit:before { content: "\f1a1"; }

.fa-reddit-square:before { content: "\f1a2"; }

.fa-stumbleupon-circle:before { content: "\f1a3"; }

.fa-stumbleupon:before { content: "\f1a4"; }

.fa-delicious:before { content: "\f1a5"; }

.fa-digg:before { content: "\f1a6"; }

.fa-pied-piper-pp:before { content: "\f1a7"; }

.fa-pied-piper-alt:before { content: "\f1a8"; }

.fa-drupal:before { content: "\f1a9"; }

.fa-joomla:before { content: "\f1aa"; }

.fa-language:before { content: "\f1ab"; }

.fa-fax:before { content: "\f1ac"; }

.fa-building:before { content: "\f1ad"; }

.fa-child:before { content: "\f1ae"; }

.fa-paw:before { content: "\f1b0"; }

.fa-spoon:before { content: "\f1b1"; }

.fa-cube:before { content: "\f1b2"; }

.fa-cubes:before { content: "\f1b3"; }

.fa-behance:before { content: "\f1b4"; }

.fa-behance-square:before { content: "\f1b5"; }

.fa-steam:before { content: "\f1b6"; }

.fa-steam-square:before { content: "\f1b7"; }

.fa-recycle:before { content: "\f1b8"; }

.fa-automobile:before, .fa-car:before { content: "\f1b9"; }

.fa-cab:before, .fa-taxi:before { content: "\f1ba"; }

.fa-tree:before { content: "\f1bb"; }

.fa-spotify:before { content: "\f1bc"; }

.fa-deviantart:before { content: "\f1bd"; }

.fa-soundcloud:before { content: "\f1be"; }

.fa-database:before { content: "\f1c0"; }

.fa-file-pdf-o:before { content: "\f1c1"; }

.fa-file-word-o:before { content: "\f1c2"; }

.fa-file-excel-o:before { content: "\f1c3"; }

.fa-file-powerpoint-o:before { content: "\f1c4"; }

.fa-file-photo-o:before, .fa-file-picture-o:before, .fa-file-image-o:before { content: "\f1c5"; }

.fa-file-zip-o:before, .fa-file-archive-o:before { content: "\f1c6"; }

.fa-file-sound-o:before, .fa-file-audio-o:before { content: "\f1c7"; }

.fa-file-movie-o:before, .fa-file-video-o:before { content: "\f1c8"; }

.fa-file-code-o:before { content: "\f1c9"; }

.fa-vine:before { content: "\f1ca"; }

.fa-codepen:before { content: "\f1cb"; }

.fa-jsfiddle:before { content: "\f1cc"; }

.fa-life-bouy:before, .fa-life-buoy:before, .fa-life-saver:before, .fa-support:before, .fa-life-ring:before { content: "\f1cd"; }

.fa-circle-o-notch:before { content: "\f1ce"; }

.fa-ra:before, .fa-resistance:before, .fa-rebel:before { content: "\f1d0"; }

.fa-ge:before, .fa-empire:before { content: "\f1d1"; }

.fa-git-square:before { content: "\f1d2"; }

.fa-git:before { content: "\f1d3"; }

.fa-y-combinator-square:before, .fa-yc-square:before, .fa-hacker-news:before { content: "\f1d4"; }

.fa-tencent-weibo:before { content: "\f1d5"; }

.fa-qq:before { content: "\f1d6"; }

.fa-wechat:before, .fa-weixin:before { content: "\f1d7"; }

.fa-send:before, .fa-paper-plane:before { content: "\f1d8"; }

.fa-send-o:before, .fa-paper-plane-o:before { content: "\f1d9"; }

.fa-history:before { content: "\f1da"; }

.fa-circle-thin:before { content: "\f1db"; }

.fa-header:before { content: "\f1dc"; }

.fa-paragraph:before { content: "\f1dd"; }

.fa-sliders:before { content: "\f1de"; }

.fa-share-alt:before { content: "\f1e0"; }

.fa-share-alt-square:before { content: "\f1e1"; }

.fa-bomb:before { content: "\f1e2"; }

.fa-soccer-ball-o:before, .fa-futbol-o:before { content: "\f1e3"; }

.fa-tty:before { content: "\f1e4"; }

.fa-binoculars:before { content: "\f1e5"; }

.fa-plug:before { content: "\f1e6"; }

.fa-slideshare:before { content: "\f1e7"; }

.fa-twitch:before { content: "\f1e8"; }

.fa-yelp:before { content: "\f1e9"; }

.fa-newspaper-o:before { content: "\f1ea"; }

.fa-wifi:before { content: "\f1eb"; }

.fa-calculator:before { content: "\f1ec"; }

.fa-paypal:before { content: "\f1ed"; }

.fa-google-wallet:before { content: "\f1ee"; }

.fa-cc-visa:before { content: "\f1f0"; }

.fa-cc-mastercard:before { content: "\f1f1"; }

.fa-cc-discover:before { content: "\f1f2"; }

.fa-cc-amex:before { content: "\f1f3"; }

.fa-cc-paypal:before { content: "\f1f4"; }

.fa-cc-stripe:before { content: "\f1f5"; }

.fa-bell-slash:before { content: "\f1f6"; }

.fa-bell-slash-o:before { content: "\f1f7"; }

.fa-trash:before { content: "\f1f8"; }

.fa-copyright:before { content: "\f1f9"; }

.fa-at:before { content: "\f1fa"; }

.fa-eyedropper:before { content: "\f1fb"; }

.fa-paint-brush:before { content: "\f1fc"; }

.fa-birthday-cake:before { content: "\f1fd"; }

.fa-area-chart:before { content: "\f1fe"; }

.fa-pie-chart:before { content: "\f200"; }

.fa-line-chart:before { content: "\f201"; }

.fa-lastfm:before { content: "\f202"; }

.fa-lastfm-square:before { content: "\f203"; }

.fa-toggle-off:before { content: "\f204"; }

.fa-toggle-on:before { content: "\f205"; }

.fa-bicycle:before { content: "\f206"; }

.fa-bus:before { content: "\f207"; }

.fa-ioxhost:before { content: "\f208"; }

.fa-angellist:before { content: "\f209"; }

.fa-cc:before { content: "\f20a"; }

.fa-shekel:before, .fa-sheqel:before, .fa-ils:before { content: "\f20b"; }

.fa-meanpath:before { content: "\f20c"; }

.fa-buysellads:before { content: "\f20d"; }

.fa-connectdevelop:before { content: "\f20e"; }

.fa-dashcube:before { content: "\f210"; }

.fa-forumbee:before { content: "\f211"; }

.fa-leanpub:before { content: "\f212"; }

.fa-sellsy:before { content: "\f213"; }

.fa-shirtsinbulk:before { content: "\f214"; }

.fa-simplybuilt:before { content: "\f215"; }

.fa-skyatlas:before { content: "\f216"; }

.fa-cart-plus:before { content: "\f217"; }

.fa-cart-arrow-down:before { content: "\f218"; }

.fa-diamond:before { content: "\f219"; }

.fa-ship:before { content: "\f21a"; }

.fa-user-secret:before { content: "\f21b"; }

.fa-motorcycle:before { content: "\f21c"; }

.fa-street-view:before { content: "\f21d"; }

.fa-heartbeat:before { content: "\f21e"; }

.fa-venus:before { content: "\f221"; }

.fa-mars:before { content: "\f222"; }

.fa-mercury:before { content: "\f223"; }

.fa-intersex:before, .fa-transgender:before { content: "\f224"; }

.fa-transgender-alt:before { content: "\f225"; }

.fa-venus-double:before { content: "\f226"; }

.fa-mars-double:before { content: "\f227"; }

.fa-venus-mars:before { content: "\f228"; }

.fa-mars-stroke:before { content: "\f229"; }

.fa-mars-stroke-v:before { content: "\f22a"; }

.fa-mars-stroke-h:before { content: "\f22b"; }

.fa-neuter:before { content: "\f22c"; }

.fa-genderless:before { content: "\f22d"; }

.fa-facebook-official:before { content: "\f230"; }

.fa-pinterest-p:before { content: "\f231"; }

.fa-whatsapp:before { content: "\f232"; }

.fa-server:before { content: "\f233"; }

.fa-user-plus:before { content: "\f234"; }

.fa-user-times:before { content: "\f235"; }

.fa-hotel:before, .fa-bed:before { content: "\f236"; }

.fa-viacoin:before { content: "\f237"; }

.fa-train:before { content: "\f238"; }

.fa-subway:before { content: "\f239"; }

.fa-medium:before { content: "\f23a"; }

.fa-yc:before, .fa-y-combinator:before { content: "\f23b"; }

.fa-optin-monster:before { content: "\f23c"; }

.fa-opencart:before { content: "\f23d"; }

.fa-expeditedssl:before { content: "\f23e"; }

.fa-battery-4:before, .fa-battery:before, .fa-battery-full:before { content: "\f240"; }

.fa-battery-3:before, .fa-battery-three-quarters:before { content: "\f241"; }

.fa-battery-2:before, .fa-battery-half:before { content: "\f242"; }

.fa-battery-1:before, .fa-battery-quarter:before { content: "\f243"; }

.fa-battery-0:before, .fa-battery-empty:before { content: "\f244"; }

.fa-mouse-pointer:before { content: "\f245"; }

.fa-i-cursor:before { content: "\f246"; }

.fa-object-group:before { content: "\f247"; }

.fa-object-ungroup:before { content: "\f248"; }

.fa-sticky-note:before { content: "\f249"; }

.fa-sticky-note-o:before { content: "\f24a"; }

.fa-cc-jcb:before { content: "\f24b"; }

.fa-cc-diners-club:before { content: "\f24c"; }

.fa-clone:before { content: "\f24d"; }

.fa-balance-scale:before { content: "\f24e"; }

.fa-hourglass-o:before { content: "\f250"; }

.fa-hourglass-1:before, .fa-hourglass-start:before { content: "\f251"; }

.fa-hourglass-2:before, .fa-hourglass-half:before { content: "\f252"; }

.fa-hourglass-3:before, .fa-hourglass-end:before { content: "\f253"; }

.fa-hourglass:before { content: "\f254"; }

.fa-hand-grab-o:before, .fa-hand-rock-o:before { content: "\f255"; }

.fa-hand-stop-o:before, .fa-hand-paper-o:before { content: "\f256"; }

.fa-hand-scissors-o:before { content: "\f257"; }

.fa-hand-lizard-o:before { content: "\f258"; }

.fa-hand-spock-o:before { content: "\f259"; }

.fa-hand-pointer-o:before { content: "\f25a"; }

.fa-hand-peace-o:before { content: "\f25b"; }

.fa-trademark:before { content: "\f25c"; }

.fa-registered:before { content: "\f25d"; }

.fa-creative-commons:before { content: "\f25e"; }

.fa-gg:before { content: "\f260"; }

.fa-gg-circle:before { content: "\f261"; }

.fa-tripadvisor:before { content: "\f262"; }

.fa-odnoklassniki:before { content: "\f263"; }

.fa-odnoklassniki-square:before { content: "\f264"; }

.fa-get-pocket:before { content: "\f265"; }

.fa-wikipedia-w:before { content: "\f266"; }

.fa-safari:before { content: "\f267"; }

.fa-chrome:before { content: "\f268"; }

.fa-firefox:before { content: "\f269"; }

.fa-opera:before { content: "\f26a"; }

.fa-internet-explorer:before { content: "\f26b"; }

.fa-tv:before, .fa-television:before { content: "\f26c"; }

.fa-contao:before { content: "\f26d"; }

.fa-500px:before { content: "\f26e"; }

.fa-amazon:before { content: "\f270"; }

.fa-calendar-plus-o:before { content: "\f271"; }

.fa-calendar-minus-o:before { content: "\f272"; }

.fa-calendar-times-o:before { content: "\f273"; }

.fa-calendar-check-o:before { content: "\f274"; }

.fa-industry:before { content: "\f275"; }

.fa-map-pin:before { content: "\f276"; }

.fa-map-signs:before { content: "\f277"; }

.fa-map-o:before { content: "\f278"; }

.fa-map:before { content: "\f279"; }

.fa-commenting:before { content: "\f27a"; }

.fa-commenting-o:before { content: "\f27b"; }

.fa-houzz:before { content: "\f27c"; }

.fa-vimeo:before { content: "\f27d"; }

.fa-black-tie:before { content: "\f27e"; }

.fa-fonticons:before { content: "\f280"; }

.fa-reddit-alien:before { content: "\f281"; }

.fa-edge:before { content: "\f282"; }

.fa-credit-card-alt:before { content: "\f283"; }

.fa-codiepie:before { content: "\f284"; }

.fa-modx:before { content: "\f285"; }

.fa-fort-awesome:before { content: "\f286"; }

.fa-usb:before { content: "\f287"; }

.fa-product-hunt:before { content: "\f288"; }

.fa-mixcloud:before { content: "\f289"; }

.fa-scribd:before { content: "\f28a"; }

.fa-pause-circle:before { content: "\f28b"; }

.fa-pause-circle-o:before { content: "\f28c"; }

.fa-stop-circle:before { content: "\f28d"; }

.fa-stop-circle-o:before { content: "\f28e"; }

.fa-shopping-bag:before { content: "\f290"; }

.fa-shopping-basket:before { content: "\f291"; }

.fa-hashtag:before { content: "\f292"; }

.fa-bluetooth:before { content: "\f293"; }

.fa-bluetooth-b:before { content: "\f294"; }

.fa-percent:before { content: "\f295"; }

.fa-gitlab:before { content: "\f296"; }

.fa-wpbeginner:before { content: "\f297"; }

.fa-wpforms:before { content: "\f298"; }

.fa-envira:before { content: "\f299"; }

.fa-universal-access:before { content: "\f29a"; }

.fa-wheelchair-alt:before { content: "\f29b"; }

.fa-question-circle-o:before { content: "\f29c"; }

.fa-blind:before { content: "\f29d"; }

.fa-audio-description:before { content: "\f29e"; }

.fa-volume-control-phone:before { content: "\f2a0"; }

.fa-braille:before { content: "\f2a1"; }

.fa-assistive-listening-systems:before { content: "\f2a2"; }

.fa-asl-interpreting:before, .fa-american-sign-language-interpreting:before { content: "\f2a3"; }

.fa-deafness:before, .fa-hard-of-hearing:before, .fa-deaf:before { content: "\f2a4"; }

.fa-glide:before { content: "\f2a5"; }

.fa-glide-g:before { content: "\f2a6"; }

.fa-signing:before, .fa-sign-language:before { content: "\f2a7"; }

.fa-low-vision:before { content: "\f2a8"; }

.fa-viadeo:before { content: "\f2a9"; }

.fa-viadeo-square:before { content: "\f2aa"; }

.fa-snapchat:before { content: "\f2ab"; }

.fa-snapchat-ghost:before { content: "\f2ac"; }

.fa-snapchat-square:before { content: "\f2ad"; }

.fa-pied-piper:before { content: "\f2ae"; }

.fa-first-order:before { content: "\f2b0"; }

.fa-yoast:before { content: "\f2b1"; }

.fa-themeisle:before { content: "\f2b2"; }

.fa-google-plus-circle:before, .fa-google-plus-official:before { content: "\f2b3"; }

.fa-fa:before, .fa-font-awesome:before { content: "\f2b4"; }

.fa-handshake-o:before { content: "\f2b5"; }

.fa-envelope-open:before { content: "\f2b6"; }

.fa-envelope-open-o:before { content: "\f2b7"; }

.fa-linode:before { content: "\f2b8"; }

.fa-address-book:before { content: "\f2b9"; }

.fa-address-book-o:before { content: "\f2ba"; }

.fa-vcard:before, .fa-address-card:before { content: "\f2bb"; }

.fa-vcard-o:before, .fa-address-card-o:before { content: "\f2bc"; }

.fa-user-circle:before { content: "\f2bd"; }

.fa-user-circle-o:before { content: "\f2be"; }

.fa-user-o:before { content: "\f2c0"; }

.fa-id-badge:before { content: "\f2c1"; }

.fa-drivers-license:before, .fa-id-card:before { content: "\f2c2"; }

.fa-drivers-license-o:before, .fa-id-card-o:before { content: "\f2c3"; }

.fa-quora:before { content: "\f2c4"; }

.fa-free-code-camp:before { content: "\f2c5"; }

.fa-telegram:before { content: "\f2c6"; }

.fa-thermometer-4:before, .fa-thermometer:before, .fa-thermometer-full:before { content: "\f2c7"; }

.fa-thermometer-3:before, .fa-thermometer-three-quarters:before { content: "\f2c8"; }

.fa-thermometer-2:before, .fa-thermometer-half:before { content: "\f2c9"; }

.fa-thermometer-1:before, .fa-thermometer-quarter:before { content: "\f2ca"; }

.fa-thermometer-0:before, .fa-thermometer-empty:before { content: "\f2cb"; }

.fa-shower:before { content: "\f2cc"; }

.fa-bathtub:before, .fa-s15:before, .fa-bath:before { content: "\f2cd"; }

.fa-podcast:before { content: "\f2ce"; }

.fa-window-maximize:before { content: "\f2d0"; }

.fa-window-minimize:before { content: "\f2d1"; }

.fa-window-restore:before { content: "\f2d2"; }

.fa-times-rectangle:before, .fa-window-close:before { content: "\f2d3"; }

.fa-times-rectangle-o:before, .fa-window-close-o:before { content: "\f2d4"; }

.fa-bandcamp:before { content: "\f2d5"; }

.fa-grav:before { content: "\f2d6"; }

.fa-etsy:before { content: "\f2d7"; }

.fa-imdb:before { content: "\f2d8"; }

.fa-ravelry:before { content: "\f2d9"; }

.fa-eercast:before { content: "\f2da"; }

.fa-microchip:before { content: "\f2db"; }

.fa-snowflake-o:before { content: "\f2dc"; }

.fa-superpowers:before { content: "\f2dd"; }

.fa-wpexplorer:before { content: "\f2de"; }

.fa-meetup:before { content: "\f2e0"; }

.sr-only { position: absolute; width: 1px; height: 1px; padding: 0; margin: -1px; overflow: hidden; clip: rect(0, 0, 0, 0); border: 0; }

.sr-only-focusable:active, .sr-only-focusable:focus { position: static; width: auto; height: auto; margin: 0; overflow: visible; clip: auto; }

/*--------------------
Slideout Menu Styles
https://slideout.js.org/
---------------------*/
body { width: 100%; height: 100%; }

.slideout-menu { position: fixed; top: 0; bottom: 0; width: 256px; min-height: 100vh; overflow-y: scroll; -webkit-overflow-scrolling: touch; z-index: 0; display: none; }

.slideout-menu-left { left: 0; }

.slideout-menu-right { right: 0; }

.slideout-panel { position: relative; z-index: 1; will-change: transform; background-color: #FFF; /* A background-color is required */ min-height: 100vh; }

.slideout-open, .slideout-open body, .slideout-open .slideout-panel { overflow: hidden; }

.slideout-open .slideout-menu { display: block; }

/*-------------------------------------------
Setting Up Global SCSS Variables
-------------------------------------------*/
/*---------------------------------------------
Bringing in Local fonts
----------------------------------------------*/
@font-face { font-display: swap; font-family: 'Open Sans'; src: url("../fonts/OpenSans-Light.woff2") format("woff2"), url("../fonts/OpenSans-Light.woff") format("woff"); font-weight: 300; font-style: normal; }

@font-face { font-display: swap; font-family: 'Trajan Pro'; src: url("../fonts/TrajanPro-Regular.woff2") format("woff2"), url("../fonts/TrajanPro-Regular.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-display: swap; font-family: 'Open Sans'; src: url("../fonts/OpenSans.woff2") format("woff2"), url("../fonts/OpenSans.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-display: swap; font-family: 'Open Sans'; src: url("../fonts/OpenSans-BoldItalic.woff2") format("woff2"), url("../fonts/OpenSans-BoldItalic.woff") format("woff"); font-weight: bold; font-style: italic; }

@font-face { font-display: swap; font-family: 'Open Sans'; src: url("../fonts/OpenSans-Italic.woff2") format("woff2"), url("../fonts/OpenSans-Italic.woff") format("woff"); font-weight: normal; font-style: italic; }

@font-face { font-display: swap; font-family: 'Open Sans'; src: url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-display: swap; font-family: 'Open Sans'; src: url("../fonts/OpenSansLight-Italic.woff2") format("woff2"), url("../fonts/OpenSansLight-Italic.woff") format("woff"); font-weight: 300; font-style: italic; }

@font-face { font-display: swap; font-family: 'Trajan Pro'; src: url("../fonts/TrajanPro-Bold.woff2") format("woff2"), url("../fonts/TrajanPro-Bold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-display: swap; font-family: 'Open Sans Condensed'; src: url("../fonts/OpenSans-CondensedBold.woff2") format("woff2"), url("../fonts/OpenSans-CondensedBold.woff") format("woff"); font-weight: bold; font-style: normal; }

@font-face { font-display: swap; font-family: 'Open Sans Condensed'; src: url("../fonts/OpenSans-CondensedLight.woff2") format("woff2"), url("../fonts/OpenSans-CondensedLight.woff") format("woff"); font-weight: 300; font-style: normal; }

@font-face { font-display: swap; font-family: 'Open Sans Condensed'; src: url("../fonts/OpenSans-CondensedLightItalic.woff2") format("woff2"), url("../fonts/OpenSans-CondensedLightItalic.woff") format("woff"); font-weight: 300; font-style: italic; }

/*-------------------------------------------
Global Theme Styles & General Overrides
--------------------------------------------*/
body { background: #f0f0f0; color: #222; font-family: "Open Sans", Arial, sans-serif; font-size: 14px; }

@media (min-width: 768px) { body { font-size: 16px; } }

.site-inner { max-width: 1400px; background: #fff; box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }

.wrapper { max-width: 1400px; width: 100%; margin: 0 auto; padding: 0 10px; }

@media (min-width: 768px) { .site-container { transform: translateX(0) !important; } }

.content h1, .content h2, .content h3, .content h4, .content h5, .content h6 { font-family: "Open Sans Condensed", Arial, sans-serif; color: #2a2a40; font-weight: bold; }

.content h1 b, .content h1 strong, .content h2 b, .content h2 strong, .content h3 b, .content h3 strong, .content h4 b, .content h4 strong, .content h5 b, .content h5 strong, .content h6 b, .content h6 strong { font-weight: bold; }

.content a { transition: 0.2s; color: #313149; }

.content a:hover { color: #da6009; }

@media (max-width: 767px) { .livechat { display: none !important; }
  #apexchat_static_tab_text { transform: translateX(46%) translateY(-50%) rotate(-90deg) scale(0.8) !important; }
  .userway_mobile { bottom: 70px !important; } }

.archive.tag .content-sidebar-wrap > h2.entry-title, .archive.category .content-sidebar-wrap > h2.entry-title, .archive.tax-news_category .content-sidebar-wrap > h2.entry-title { display: none; }

/*----------------------------------------------
Global Header Styles
-----------------------------------------------*/
.site-header { padding: 0; background: #fff; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5); z-index: 9999; top: 0; }

@media (max-width: 767px) { .site-header { display: none; } }

.site-header .desktop-header { display: none; }

@media (min-width: 768px) { .site-header .desktop-header { display: flex; } }

.mobile-header { display: block; position: relative; z-index: 9999; }

@media (min-width: 768px) { .mobile-header { display: none; } }

.notification-bar { background: #313149; color: #fff; font-weight: bold; font-family: "Open Sans Condensed", Arial, sans-serif; font-size: 1.9rem; padding: 10px; transition: 0.2s; }

@media (max-width: 767px) { .notification-bar { font-size: 1.2rem; } }

.notification-bar__inner { display: flex; justify-content: space-between; max-width: 1400px; margin-left: auto; margin-right: auto; }

.notification-bar__left { text-align: left; }

.notification-bar__right { text-align: right; }

.desktop-header { display: flex; align-items: flex-end; justify-content: space-between; padding: 10px; max-width: 1400px; margin-left: auto; margin-right: auto; }

@media (min-width: 768px) and (max-width: 1399px) { .desktop-header { flex-wrap: wrap; align-items: flex-start; } }

.desktop-header__logo { padding: 10px; }

.desktop-header__logo--default { height: 100px; width: 200px; }

.desktop-header__logo--scrolled { display: none; height: 40px; width: 100px; }

@media (min-width: 768px) and (max-width: 1399px) { .desktop-header__logo { padding: 0; }
  .desktop-header__logo--default { width: 100px; }
  .desktop-header__logo--scrolled { width: 50px; } }

.desktop-header__nav { padding: 10px; text-align: center; }

@media (min-width: 768px) and (max-width: 1399px) { .desktop-header__nav { display: none; } }

.desktop-header .tablet-navigation-wrapper { display: none; }

@media (min-width: 768px) and (max-width: 1399px) { .desktop-header .tablet-navigation-wrapper { display: block; width: 100%; } }

body { top: 0; position: relative; transition: 0.2s 0.1s; }

.scrolled .mobile-header { position: fixed; }

.scrolled .mobile-header .notification-bar { height: 3px; padding: 0; overflow: hidden; }

.scrolled .mobile-header .notification-bar__inner { opacity: 0; display: none; }

.scrolled .site-header, .scrolled .mobile-header { left: 0; right: 0; }

@media (min-width: 768px) { .scrolled .site-header, .scrolled .mobile-header { position: sticky; } }

.scrolled .site-header .desktop-header__logo--scrolled, .scrolled .mobile-header .desktop-header__logo--scrolled { display: block; }

.scrolled .site-header .desktop-header__logo--default, .scrolled .mobile-header .desktop-header__logo--default { display: none; }

.scrolled .site-header .mobile-header__logo, .scrolled .mobile-header .mobile-header__logo { height: 0; }

.scrolled .site-header .header-cta__heading, .scrolled .site-header .header-cta__subheading, .scrolled .mobile-header .header-cta__heading, .scrolled .mobile-header .header-cta__subheading { display: none; }

.scrolled .site-header .header-cta__phone, .scrolled .mobile-header .header-cta__phone { font-size: 1.7rem; }

.scrolled .site-header .notification-bar, .scrolled .mobile-header .notification-bar { font-size: 1.2rem; }

.header-cta { max-width: 340px; }

.header-cta__heading { font-size: 2.0rem; font-weight: bold; display: block; width: 380px; position: relative; left: -40px; line-height: 1; color: #111; font-family: "Open Sans Condensed", Arial, sans-serif; margin-bottom: 5px; text-align: right; }

@media (min-width: 768px) and (max-width: 1399px) { .header-cta__heading { font-size: 1.5rem; } }

.header-cta__subheading { font-size: 1.4rem; font-weight: bold; display: block; line-height: 1.2; color: #111; font-family: "Open Sans Condensed", Arial, sans-serif; margin-bottom: 10px; text-align: right; }

@media (min-width: 768px) and (max-width: 1399px) { .header-cta__subheading { font-size: 1.0rem; } }

.header-cta__phone { display: block; margin-right: 0; margin-left: auto; max-width: 200px; border-radius: 4px; width: auto; padding: 5px 10px; background: #da6009; text-decoration: none; font-size: 1.8rem; font-weight: bold; font-family: "Open Sans Condensed", Arial, sans-serif; transition: 0.2s; color: #fff; text-align: center; }

@media (min-width: 768px) and (max-width: 1399px) { .header-cta__phone { font-size: 1.5rem; padding: 2px 10px; margin-bottom: 10px; } }

.header-cta__phone:hover { color: #fff; background: #f67920; text-align: center; }

.desktop-downarrow { position: relative; }

.desktop-downarrow:after { content: '\f107'; font-family: fontawesome; float: right; position: absolute; top: 1px; right: -1em; font-size: 14px; transition: 0.2s; }

.desktop-nav li { display: inline; }

.desktop-nav li a { color: #111; text-decoration: none; font-family: "Open Sans Condensed", Arial, sans-serif; font-size: 1.1rem; text-transform: uppercase; font-weight: bold; display: inline-block; padding-left: 10px; padding-right: 10px; }

.desktop-nav .sub-menu { display: none; }

.desktop-nav .menu-item-has-children { position: relative; }

.desktop-nav .menu-item-has-children > a { padding-right: 1.2rem; }

.desktop-nav .menu-item-has-children:hover .desktop-downarrow:after { transform: rotate(180deg); }

.desktop-nav .menu-item-has-children ul.sub-menu { margin: 0; margin-top: 10px; display: block !important; position: absolute; top: 105%; left: 50%; height: auto; width: auto; min-width: 260px; transition: transform .3s ease .2s; transform-origin: top; transform: translateX(-50%) scale(1, 0); z-index: 200; max-height: 75vh; box-shadow: 0 0 2em rgba(0, 0, 0, 0.15); padding: 0; border-radius: 3px; padding-top: 2px; padding-bottom: 2px; background: #2a2a40; }

@media (min-width: 768px) and (max-width: 1399px) { .desktop-nav .menu-item-has-children ul.sub-menu { left: 100%; } }

.desktop-nav .menu-item-has-children ul.sub-menu li { width: 100%; display: block; position: relative; }

.desktop-nav .menu-item-has-children ul.sub-menu li a { text-align: left; color: #fff; display: block; background: #646484; transition: 0.2s; text-transform: uppercase; font-size: 1rem; padding-top: 8px; padding-bottom: 8px; border-bottom: 1px solid #6f6f92; }

.desktop-nav .menu-item-has-children ul.sub-menu li a .desktop-downarrow { display: none; }

.desktop-nav .menu-item-has-children ul.sub-menu li a:hover { color: #fff; background: #da6009; }

.desktop-nav .menu-item-has-children ul.sub-menu li:nth-of-type(1) { border-radius: 3px 3px 0 0; }

.desktop-nav .menu-item-has-children ul.sub-menu li:nth-last-of-type(1) { border-radius: 0 0 3px 3px; }

.desktop-nav .menu-item-has-children ul.sub-menu li:nth-last-of-type(1) a { border-bottom: none; }

.desktop-nav .menu-item-has-children ul.sub-menu .menu-item-has-children a .desktop-downarrow { display: block; }

.desktop-nav .menu-item-has-children ul.sub-menu:before { content: ''; display: block; position: absolute; top: -6px; left: 50%; transform: translateX(-50%); border-left: 8px solid transparent; border-right: 8px solid transparent; border-bottom: 8px solid #2a2a40; }

.desktop-nav .menu-item-has-children ul.sub-menu .sub-menu { left: 375px; top: 0; transition: 0.0s; padding-left: 2px; padding-right: 2px; }

.desktop-nav .menu-item-has-children ul.sub-menu .sub-menu:before { content: ''; display: block; position: absolute; top: 15px; left: -7px; border-right: 5px solid #FFF; border-bottom: 5px solid transparent; border-top: 5px solid transparent; }

.desktop-nav .menu-item-has-children:hover { /* Show/Hide Submenu */ }

.desktop-nav .menu-item-has-children:hover ul.sub-menu li, .desktop-nav .menu-item-has-children:hover ul.children li { width: 100%; display: block; }

.desktop-nav .menu-item-has-children:hover:hover > ul { transition: transform .3s ease 0s; -webkit-transform: translateX(-50%) scale(1, 1); -ms-transform: translateX(-50%) scale(1, 1); transform: translateX(-50%) scale(1, 1); }

/*----------------------------------
Mobile Header Styles
----------------------------------*/
.mobile-header { position: fixed; top: 0; left: 0; right: 0; background: #fff; z-index: 9999; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); }

.mobile-header__logo { display: block; text-align: center; margin-bottom: 14px; padding-top: 5px; height: 110px; transition: 0.2s; overflow: hidden; }

.mobile-header__logo img { height: 100px; }

.mobile-header__phone a { text-align: center; color: #fff; display: block; width: 200px; margin-left: auto; margin-right: auto; font-weight: bold; font-family: "Open Sans Condensed", Arial, sans-serif; background: #da6009; transition: 0.2s; text-decoration: none; padding: 5px; font-size: 1.2rem; }

.mobile-header__phone a:hover, .mobile-header__phone a:focus { color: #fff; text-decoration: none; background: #f67920; }

.mobile-header__navigation-toggle { display: flex; justify-content: space-between; padding: 10px; background: #646484; color: #fff; font-family: "Open Sans Condensed", Arial, sans-serif; text-transform: uppercase; margin-top: 15px; font-weight: bold; font-size: 1.1rem; letter-spacing: 1px; cursor: pointer; transition: 0.2s; }

.mobile-header__navigation-toggle:hover, .mobile-header__navigation-toggle:focus { background: #2a2a40; }

@media (max-width: 767px) { .site-container { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4); } }

.mobile-navigation-pane { display: none; background: #fff; padding-bottom: 100px; }

@media (min-width: 768px) { .mobile-navigation-pane { display: none !important; } }

.mobile-navigation-pane__header { background: #2a2a40; padding: 10px; color: #fff; text-align: left; font-family: "Open Sans Condensed", Arial, sans-serif; font-size: 1.9rem; display: flex; justify-content: space-between; font-weight: bold; }

.mobile-navigation-pane__navigation { padding: 10px; }

.mobile-navigation-pane__navigation .mobile-nav li { padding: 5px; }

.mobile-navigation-pane__navigation .mobile-nav a { text-decoration: none; color: #2a2a40; transition: 0.2s; font-weight: bold; }

.mobile-navigation-pane__navigation .mobile-nav a:hover { color: #646484; }

.mobile-navigation-pane__navigation .mobile-nav .sub-menu { margin-left: 20px; }

.mobile-navigation-pane__navigation .mobile-nav .sub-menu li { padding: 2px; }

.mobile-navigation-pane__navigation .mobile-nav .sub-menu a { font-weight: normal; }

.mobile-navigation-pane .navigation-pane-close { cursor: pointer; position: relative; top: 10px; }

/*---------------------------------------
Global Footer Styles
---------------------------------------*/
.site-footer { width: 100%; padding: 20px 0px; clear: both; color: #fff; background: #2a2a40; line-height: 1.5; }

.footer-contact-form { max-width: 1140px; margin-left: auto; margin-right: auto; }

.footer-contact-form__inner { padding-top: 30px; padding-bottom: 30px; }

.footer-contact-form__title { display: block; font-family: "Trajan Pro", "Times New Roman", serif; font-size: 1.8rem; margin-bottom: 10px; }

@media (min-width: 768px) { .footer-contact-form__title { font-size: 2.2rem; } }

@media (min-width: 1140px) { .footer-contact-form__title { font-size: 2.7rem; } }

.footer-contact-form__subtitle { display: block; line-height: 1.5; font-family: "Open Sans Condensed", Arial, sans-serif; margin-bottom: 20px; font-size: 1.3rem; letter-spacing: 1px; }

@media (min-width: 768px) { .footer-contact-form__subtitle { font-size: 2.0rem; } }

.footer-contact-form__form p { margin-bottom: 0; line-height: 1; }

.footer-contact-form__form br { display: none; }

.footer-contact-form__form input[type="text"], .footer-contact-form__form input[type="email"], .footer-contact-form__form input[type="tel"], .footer-contact-form__form textarea { display: block; margin-bottom: 10px; }

.footer-contact-form__form .first-name { width: calc(50% - 5px); float: left; display: block; }

@media (max-width: 767px) { .footer-contact-form__form .first-name { width: 100%; float: none; } }

.footer-contact-form__form .last-name { width: calc(50% - 5px); float: right; display: block; }

@media (max-width: 767px) { .footer-contact-form__form .last-name { width: 100%; float: none; } }

.footer-contact-form__form .email { clear: both; width: calc(50% - 5px); float: left; display: block; }

@media (max-width: 767px) { .footer-contact-form__form .email { width: 100%; float: none; } }

.footer-contact-form__form .phone { width: calc(50% - 5px); float: right; display: block; }

@media (max-width: 767px) { .footer-contact-form__form .phone { width: 100%; float: none; } }

.footer-contact-form__form textarea { clear: both; }

.footer-contact-form__form input[type="submit"] { display: block; color: #fff; background: #da6009; font-size: 1.6rem; transition: 0.2s; border-radius: 0; margin: 30px auto 0 auto; }

.footer-contact-form__form input[type="submit"]:hover { background: #a94a07; color: #fff; }

.footer-cta { background: #166198; border-top: 3px solid #fff; border-bottom: 3px solid #fff; font-family: "Trajan Pro", "Times New Roman", serif; text-align: center; line-height: 2; padding-top: 30px; font-size: 1.2rem; padding-bottom: 30px; }

@media (min-width: 768px) { .footer-cta { font-size: 1.9rem; } }

.footer-cta__telephone-link { color: #fff; font-size: 1.8rem; text-decoration: none; }

.footer-cta__telephone-link:hover { color: #fff; text-decoration: none; }

@media (min-width: 768px) { .footer-cta__telephone-link { font-size: 2.15rem; } }

.footer-widgets { padding: 20px 10px; background: transparent; }

@media (min-width: 768px) { .footer-widgets__inner { display: flex; } }

.footer-widgets__office-information { width: 100%; margin-bottom: 30px; text-align: left; }

@media (min-width: 768px) { .footer-widgets__office-information { width: calc(50% - 30px); margin-right: 30px; margin-bottom: 0; } }

.footer-widgets__office-information address { font-style: normal; }

.footer-widgets__office-information a { color: #fff; text-decoration: none; }

.footer-widgets__office-information a:hover { text-decoration: none; }

.footer-widgets__office-information iframe { margin-top: 20px; max-width: 250px; height: 150px; }

.footer-widgets__navigate { width: 100%; margin-bottom: 0; }

.footer-widgets__practice-areas { width: 100%; margin-bottom: 30px; }

@media (min-width: 768px) { .footer-widgets__practice-areas { width: 25%; margin-right: 30px; margin-bottom: 0; } }

.footer-widget { font-size: 1.1rem; }

.footer-widget h3 { display: block; font-family: "Trajan Pro", "Times New Roman", serif; font-size: 1.5rem; text-align: left; letter-spacing: 2px; }

@media (min-width: 768px) { .footer-widget h3 { font-size: 1.85rem; } }

.footer-widget ul { text-align: left; font-size: 1.1rem; margin-left: auto; margin-right: auto; text-align: center; }

.footer-widget ul li { padding-bottom: 3px; display: inline; }

.footer-widget ul a { color: #fff; font-weight: bold; font-family: "Open Sans Condensed", Arial, sans-serif; text-decoration: none; text-transform: uppercase; display: inline-block; padding: 10px; }

.footer-widget ul a:hover { color: #fff; text-decoration: underline; }

.footer-bottom__navigation { margin-bottom: 15px; }

.footer-bottom__navigation ul li { padding-bottom: 3px; display: inline; }

.footer-bottom__navigation ul a { color: #fff; font-weight: bold; font-family: "Open Sans Condensed", Arial, sans-serif; text-decoration: none; text-transform: uppercase; }

.footer-bottom__navigation ul a:hover { color: #fff; text-decoration: underline; }

.footer-bottom__copyright { font-family: "Open Sans Condensed", Arial, sans-serif; }

/*---------------------------------------
Sidebar Widget Styles
----------------------------------------*/
.sidebar .widget-title { font-family: "Open Sans Condensed", Arial, sans-serif; font-weight: bold; color: #2a2a40; font-size: 1.5rem; text-align: center; display: block; }

.list-widget { border-radius: 4px; overflow: hidden; }

.list-widget .widget-title { color: #fff; background: #2a2a40; display: block; padding: 15px; margin-bottom: 0; }

.list-widget ul li { margin-bottom: 0; border-bottom: 1px solid #bfbfbf; }

.list-widget ul li:nth-last-of-type(1) { border-bottom: none; }

.list-widget ul li a { display: block; text-transform: uppercase; text-decoration: none; background: #e0e0e0; transition: 0.2s; font-weight: bold; padding: 10px; color: #2a2a40; }

.list-widget ul li a:hover { background: #da6009; color: #fff; }

.list-widget ul li:nth-of-type(even) a { background: #f0f0f0; }

.list-widget ul li:nth-of-type(even) a:hover { background: #da6009; color: #fff; }

.location-widget-title { color: #fff; background: #2a2a40; display: block; padding: 15px; margin-bottom: 0; text-align: center; }

.location-widget-title__line-1 { margin-bottom: 0; font-family: "Open Sans Condensed", Arial, sans-serif; font-weight: bold; line-height: 1; padding-bottom: 10px; }

.location-widget-title__line-2 { padding-top: 0; font-family: "Open Sans Condensed", Arial, sans-serif; font-weight: bold; margin-bottom: 0; line-height: 1; }

.location-widget-inner .secondary-location-link { display: none; }

.sidebar .faq-page-listing { border: 1px solid #dadada !important; }

.sidebar .faq-page-listing img { width: 100%; height: auto; }

/*---------- FAQ Page Styles -----------------*/
.page-template-template-faqs-php #page-container { display: block !important; max-width: 1357px !important; }

.page-template-template-faqs-php .faq-top-content { text-align: center; max-width: 800px; margin-left: auto; margin-right: auto; }

.page-template-template-faqs-php h1.page-title { text-align: center; font-size: 100px; color: #313149; line-height: 150px; text-align: center; margin-bottom: 25px; }

@media screen and (max-width: 768px) { .page-template-template-faqs-php h1.page-title { font-size: 40px; } }

.sidebar-faq-heading { font-size: 23px; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #069; }

img.faq-featured-image { display: block; margin: 20px auto; }

@media screen and (min-width: 600px) { img.faq-featured-image { float: right; margin: 1px 0 5px 20px; } }

.faq-filter-portfolio-wrapper { clear: both; margin-top: 20px; }

.faq-filter-portfolio-wrapper .faq-filter-intro-text { text-align: center; }

@media screen and (max-width: 430px) { .faq-filter-portfolio-wrapper .faq-filter-list { width: 304px; margin: 0 auto; } }

.faq-filter-portfolio-wrapper .faq-filter-listing, .faq-filter-portfolio-wrapper .faq-page-listing { margin-bottom: 30px; width: 300px; min-height: 310px; box-sizing: border-box; padding: 0 0 0 0; margin-left: 12px; margin-right: 12px; padding-bottom: 89px; margin-bottom: 20px; border: 1px solid #E8E8E8; border-radius: 4px; position: relative; }

.faq-filter-portfolio-wrapper .faq-filter-listing:after, .faq-filter-portfolio-wrapper .faq-page-listing:after { content: ""; display: table; clear: both; }

@media screen and (max-width: 400px) { .faq-filter-portfolio-wrapper .faq-filter-listing, .faq-filter-portfolio-wrapper .faq-page-listing { width: 264px; } }

.faq-filter-portfolio-wrapper .faq-page-listing { float: left; margin: 20px 0; width: 100%; max-width: 400px; }

.faq-filter-portfolio-wrapper .faq-page-listing:nth-last-of-type(1) { margin-right: 0; }

@media screen and (max-width: 767px) { .faq-filter-portfolio-wrapper .faq-page-listing { float: none; margin: 20px auto; }
  .faq-filter-portfolio-wrapper .faq-page-listing:nth-last-of-type(1) { margin-right: auto; } }

.faq-filter-portfolio-wrapper .faq-filter-image-link { display: block; margin: 0 auto 3px auto; position: relative; }

.faq-filter-portfolio-wrapper .faq-filter-image-link img { max-width: 100%; margin: 0 auto; display: block; height: auto; border-radius: 4px 4px 0 0; }

.faq-filter-portfolio-wrapper .faq-filter-image-link:hover:before { content: ''; position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(255, 255, 255, 0.3); display: block; border-radius: 10px; }

.faq-filter-portfolio-wrapper .faq-filter-image-link .image-category-box { position: absolute; display: block; background: #da6009; font-size: 11px; text-transform: uppercase; top: 0; left: 0; width: auto; padding: 3px 5px; color: white; }

.faq-filter-portfolio-wrapper .faq-filter-image-link .faq-date { position: absolute; color: white; background: rgba(0, 0, 0, 0.7); padding: 4px; font-size: 11px; bottom: 0; right: 0; }

.faq-filter-portfolio-wrapper .faq-meta { display: block; margin-top: 10px; width: 100%; padding-left: 10px; padding-right: 10px; margin-bottom: 5px; }

.faq-filter-portfolio-wrapper .faq-meta .faq-category { color: #808080; width: 100%; line-height: 1.5; float: left; font-size: 11px; text-align: center; }

.faq-filter-portfolio-wrapper .faq-meta .divider:nth-last-of-type(1) { display: none; }

.faq-filter-portfolio-wrapper .faq-filter-title-link { text-align: center; display: block; margin-top: 10px; font-size: 16px; padding-left: 10px; padding-right: 10px; text-decoration: none; line-height: 1.3; color: #313149; }

@media screen and (max-width: 767px) { .faq-filter-portfolio-wrapper .faq-filter-title-link { font-size: 20px; } }

.faq-filter-portfolio-wrapper .faq-filter-title-link:hover { text-decoration: none; color: #da6009; }

.faq-filter-portfolio-wrapper .continue-reading-button { font-size: 18px; color: #313149; display: block; width: 200px; margin: 20px auto; padding: 10px; text-align: center; border: 1px solid #313149; background: white; transition: all 0.2s; text-decoration: none; border-radius: 4px; position: absolute; bottom: 0; left: 50%; margin-left: -100px; }

.faq-filter-portfolio-wrapper .continue-reading-button:hover { color: white; background: #313149; }

.faq-filter-portfolio-wrapper .faq-filter-category-text { text-align: center; display: block; border-bottom: 1px solid #da6009; border-top: 1px solid #da6009; max-width: 500px; margin: 20px auto 10px auto; padding-bottom: 10px; padding-top: 10px; color: #908C8C; font-size: 20px; }

.faq-filter-portfolio-wrapper .faq-filter-category-list { text-align: center; display: block; margin-bottom: 30px; padding: 0 15px 5px 15px; border-bottom: 1px solid #da6009; border-top: 1px solid #da6009; }

.faq-filter-portfolio-wrapper .faq-filter-category-list .isotope-link { display: inline-block; padding: 4px 0; margin: 0 12px; background: white; cursor: pointer; font-size: 18px; border: none; border-bottom: 3px solid transparent; transition: border 0.2s; color: #000; position: relative; top: 5px; }

.faq-filter-portfolio-wrapper .faq-filter-category-list .isotope-link:hover { border-bottom: 3px solid #454568; }

.faq-filter-portfolio-wrapper .faq-filter-category-list .isotope-link:focus { outline: none; }

.faq-filter-portfolio-wrapper .faq-filter-category-list .isotope-link.is-checked { border-bottom: 3px solid #313149; text-shadow: none; color: #313149; }

.faq-filter-portfolio-wrapper .faq-filter-category-list .isotope-link:focus { border-bottom: 3px solid #313149; }

.faq-filter-portfolio-wrapper .faq-filter-category-list .isotope-link span { position: relative; z-index: 8; }

.faq-filter-portfolio-wrapper .faq-filter-category-list .isotope-link:before { border-radius: 4px; content: ' '; position: absolute; display: block; top: 0; left: 0; bottom: 0; right: 0; }

/*---------- FAQ Sidebar Widget Styles -----------------*/
.sidebar #custom_html-3 { box-shadow: none !important; padding: 0 !important; }

.sidebar #custom_html-3 h3.widgettitle { margin-bottom: 15px !important; }

.sidebar .faq-filter-portfolio-wrapper .faq-page-listing { max-width: 600px; }

.sidebar .faq-filter-portfolio-wrapper .faq-filter-image-link { background: #e0e0e0; }

.faq-sidebar-widget { box-shadow: none !important; background-image: none !important; }

.faq-sidebar-widget .widgettitle { margin-bottom: 0 !important; }

.faq-sidebar-widget .widgettitle:before { display: none !important; }

/*---------- FAQ Listing Page Styles -----------------*/
.page-template-page-faq-php #breadcrumbs { display: none; }

.page-template-page-faq-php .single-interior-header { margin-bottom: 0; }

.page-template-page-faq-php .faq-list-information { display: block; }

.page-template-page-faq-php .faq-list-information p { margin-bottom: 0; text-align: center; text-transform: uppercase; color: #555; font-weight: bold; line-height: 1.5; }

/*----------------------
Glossary Archive Styles
----------------------*/
.glossary-archive main.content { columns: 2 20px; }

.glossary-archive .glossary-letter-heading { font-size: 1.4rem; color: #2a2a40; font-weight: bold; margin-top: 15px; display: block; }

.glossary-archive .glossary-letter-heading:nth-of-type(1) { margin-top: 0; }

.glossary-archive .glossary-list-terms { margin-left: 1.8rem; list-style-position: outside; }

.glossary-archive .glossary-list-terms li { list-style-type: disc; }

/*----------------------
Single Glossary Post Styles
----------------------*/
.single-hc_glossary .entry-header { display: none; }

/*-------------------------------------------------
Form Styles
---------------------------------------------------*/
.standard-form { position: relative; }

.standard-form input[type="text"], .standard-form input[type="email"], .standard-form input[type="tel"], .standard-form textarea { margin-bottom: 15px; padding-left: 2.6rem; }

.standard-form .first-name, .standard-form .last-name, .standard-form .email, .standard-form .phone, .standard-form .describe { position: relative; display: block; }

.standard-form .first-name:before, .standard-form .last-name:before, .standard-form .email:before, .standard-form .phone:before, .standard-form .describe:before { position: absolute; left: 12px; font-family: fontawesome; display: block; top: 18px; font-size: 1.3rem; line-height: 1; color: #999; }

.standard-form .first-name:before, .standard-form .last-name:before { content: '\f007'; }

.standard-form .email:before { content: '\f0e0'; }

.standard-form .phone:before { content: '\f095'; top: 19px; }

.standard-form .describe { clear: both; }

.standard-form .describe:before { content: '\f086'; }

.standard-form .wpcf7-not-valid-tip { display: none !important; }

.standard-form .wpcf7-not-valid { border: 3px solid #f00; background: #ffeded; }

.standard-form .wpcf7-response-output.wpcf7-validation-errors { background: #f00; color: #fff; border-radius: 2px; border: 2px solid #b30000; font-style: italic; max-width: 80%; margin-left: auto; margin-right: auto; padding: 10px; font-size: 0.9rem; }

.standard-form .ajax-loader { background: #fff; border-radius: 5px; background-repeat: no-repeat; background-position: center center; border: 1px solid #2a2a40 !important; height: 25px !important; width: 25px !important; position: absolute; right: 3%; bottom: 30px; }

.sidebar-contact-form { padding: 20px; margin-bottom: 30px; box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); max-width: 430px; margin-left: auto; margin-right: auto; background: #fff; }

.sidebar-contact-form p { margin-bottom: 0; }

.sidebar-contact-form br { display: none; }

.sidebar-contact-form__phone-heading { display: block; text-align: center; font-family: "Trajan Pro", "Times New Roman", serif; font-size: 2.0rem; margin-bottom: 18x; text-transform: uppercase; }

@media (max-width: 475px) { .sidebar-contact-form__phone-heading { font-size: 1.5rem; } }

.sidebar-contact-form__phone-heading a { color: #313149; font-weight: bold; text-decoration: none; }

.sidebar-contact-form__phone-heading a:hover { color: #2a2a40; text-decoration: none; }

.sidebar-contact-form__subheading { display: block; text-align: center; font-family: "Trajan Pro", "Times New Roman", serif; margin-bottom: 15px; padding-bottom: 15px; border-bottom: 4px solid #166198; text-transform: uppercase; font-size: 1.3rem; }

@media (max-width: 330px) { .sidebar-contact-form__subheading { font-size: 1rem; } }

.sidebar-contact-form__cta { display: block; text-align: center; font-family: "Trajan Pro", "Times New Roman", serif; text-transform: uppercase; font-weight: bold; margin-bottom: 20px; font-size: 1.4rem; }

@media (max-width: 330px) { .sidebar-contact-form__cta { font-size: 1.2rem; } }

.sidebar-contact-form input[type="text"], .sidebar-contact-form input[type="email"], .sidebar-contact-form input[type="tel"], .sidebar-contact-form textarea { margin-bottom: 15px; }

.sidebar-contact-form textarea { margin-bottom: 0; height: 150px; }

.sidebar-contact-form input[type="submit"] { background: #da6009; color: #fff; font-weight: bold; border-radius: 0; text-transform: uppercase; font-size: 1.4rem; display: block; margin: 15px auto 0 auto; }

/******************************************************
General Homepage Template Styles
******************************************************/
.homepage-template .site-inner { padding: 0; }

.homepage-template .content { width: 100%; }

.homepage-template .homepage-section { padding: 30px 15px; }

/*-------------------------------------
General Single Page & Post Styles
--------------------------------------*/
@media (min-width: 960px) { .page .sidebar, .single .sidebar, .post .sidebar, .blog .sidebar, .archive .sidebar { margin-top: -280px; position: relative; z-index: 30; } }

.interior-header { width: auto; margin-left: -30px; margin-right: -30px; margin-bottom: 30px; margin-top: -60px; }

.interior-header__top { position: relative; padding: 30px; background-size: cover; }

.interior-header__top:before { content: ''; position: absolute; top: 0; bottom: 0; left: 0; right: 0; background: #2a2a40; opacity: 0.8; }

@media (min-width: 768px) { .interior-header__top { padding: 50px 30px; } }

@media (min-width: 1399px) { .interior-header__top { padding-top: 100px; padding-bottom: 100px; } }

.interior-header__title { position: relative; color: #fff; font-size: 2.0rem; display: block; text-align: center; font-family: "Trajan Pro", "Times New Roman", serif; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5); }

@media (min-width: 960px) { .interior-header__title { width: 65%; font-size: 2.9rem; text-align: left; } }

@media (min-width: 1399px) { .interior-header__title { width: 65%; } }

.interior-header__breadcrumbs { padding: 10px 30px; text-transform: uppercase; color: #666; font-size: 0.9rem; }

@media (min-width: 960px) { .interior-header__breadcrumbs { width: 65%; } }

@media (min-width: 1399px) { .interior-header__breadcrumbs { width: 65%; } }

.interior-header__breadcrumbs p { margin-bottom: 0; border-bottom: 1px #aaa; display: block; }

.interior-header__breadcrumbs a { color: #2a2a40; text-decoration: none; transition: 0.2s; }

.interior-header__breadcrumbs a:hover { color: #da6009; }

.fullwidth-template .interior-header__title { width: 100%; margin: 0; text-align: center; }

/*-------------------------------
Blog and Generic Archive Styles
-------------------------------*/
.blog .entry-footer, .archive .entry-footer { display: none; }

.blog article.post .entry-meta, .blog article.news .entry-meta, .archive article.post .entry-meta, .archive article.news .entry-meta { display: block; color: #666; font-size: 0.9rem; text-transform: uppercase; font-weight: bold; margin-bottom: 10px; }

.blog .archive-description, .archive .archive-description { display: none; }

.blog .content-sidebar-wrap > h2.entry-title, .archive .content-sidebar-wrap > h2.entry-title { display: none; }

.blog .entry-image, .archive .entry-image { box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); padding: 4px; border: 1px solid #e0e0e0; }

.pagination { text-align: center; }

.pagination li a { transition: 0.2s; }

.pagination li a:hover { color: #fff; background: #da6009; }

.pagination li.active a { color: #fff; background: #2a2a40; }

/*-------------------------------
Single Post Styles
-------------------------------*/
.single-post .entry-header, .single-news .entry-header { display: block; color: #666; font-size: 0.9rem; text-transform: uppercase; font-weight: bold; margin-bottom: 10px; }

/*-------------------------------------
Scholarship Page and Form Styles
--------------------------------------*/
@media (min-width: 960px) { .scholarship-content { display: flex; } }

.scholarship-content__left { width: 100%; margin-bottom: 30px; }

@media (min-width: 960px) { .scholarship-content__left { width: 60%; padding-right: 30px; margin-bottom: 0; } }

.scholarship-content__right { max-width: 700px; width: 100%; margin: 0 auto; }

@media (min-width: 960px) { .scholarship-content__right { width: 40%; } }

.scholarship-application-form { color: white; padding: 20px; font-size: 14px; clear: both; max-width: 600px; background: #2a2a40; border-radius: 3px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); }

.scholarship-application-form .scholarship-row { clear: both; display: flex; justify-content: space-between; }

.scholarship-application-form .one-half:nth-of-type(1) { margin-left: 0; }

.scholarship-application-form .one-third:nth-of-type(1) { margin-left: 0; }

.scholarship-application-form .form-section-title { margin-top: 20px; display: block; clear: both; font-weight: bold; }

.scholarship-application-form input { max-width: none; }

.scholarship-application-form h3 { position: relative; color: #fff !important; font-size: 22px; font-weight: normal; line-height: 45px !important; height: 45px; margin-top: 15px; margin-bottom: 20px; margin-right: -15px; text-align: left; padding-left: 50px; background: #f37b24; left: 5px; }

.scholarship-application-form h3:before { height: 65px; width: 65px; border-radius: 65px; display: block; content: '\f19d'; border: 2px solid #f37b24; background: #2a2a40; text-align: center; color: #fff; font-size: 30px; line-height: 60px; font-family: fontawesome; position: absolute; left: -30px; top: -10px; }

.scholarship-application-form p { color: #fff !important; margin-bottom: 5px !important; }

.scholarship-application-form input[type="text"], .scholarship-application-form input[type="tel"], .scholarship-application-form input[type="email"], .scholarship-application-form textarea { width: 100%; padding: 10px 5px; border: 1px solid #ccc; border-radius: 2px; box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4) inset; margin-bottom: 5px; }

.scholarship-application-form input[type="checkbox"] { -webkit-appearance: checkbox !important; }

.scholarship-application-form input[type="Submit"] { padding: 8px 10px; background: #f37b24; text-transform: uppercase; color: #0F1C4D; border: none; border: 2px solid #0F1C4D; cursor: pointer; transition: all 0.2s; }

.scholarship-application-form input[type="Submit"]:hover { background: #fff; color: #0F1C4D; }

.scholarship-application-form .transcript-upload, .scholarship-application-form .essay-upload { margin-top: 10px; display: block; }

.scholarship-application-form .wpcf7-not-valid { border: 1px solid red; margin-bottom: 2px; }

.scholarship-application-form span.wpcf7-not-valid-tip { margin-bottom: 14px; }

.scholarship-application-form .form-section-title { font-size: 18px; }

.scholarship-application-form input[type="submit"] { display: block; width: auto; margin-left: auto; margin-right: auto; color: white; border: none; transition: all 0.2s; font-size: 22px; padding: 10px 15px; border-radius: 5px; text-transform: none; }

@media screen and (max-width: 500px) { .scholarship-application-form input[type="submit"] { font-size: 22px; padding-top: 3px; padding-bottom: 3px; } }

.scholarship-application-form .ajax-loader { display: none; }

.scholarship-application-form div.wpcf7-validation-errors, .scholarship-application-form div.wpcf7-acceptance-missing { background: #0a2a3b !important; }
