
/******************************************************
General Homepage Template Styles
******************************************************/

.homepage-template { //Page Wrapper

	.site-inner {
		//max-width: none;
		padding: 0;
	}

	.content {
		width: 100%;
	}

	.homepage-section {
		padding: 30px 15px;
	}

} //End .homepage-template

